<div class="component-container" id="work-arrival-documents-container">
  <div class="header">
    <app-header-bar [activeBack]="isInDetails$ | async" [title]="title$ | async" (goBack)="goBack()"></app-header-bar>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" *ngIf="!(isInDetails$ | async)">
    <ng-container>
      <div>
        <label>{{ 'common.oc' | translate }}: </label>
        <label>{{ 'common.purchaseOrder' | translate }}</label>
      </div>
    </ng-container>
  </div>
</div>
