@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  width: 100%;
  height: 100%;

  & > #assign-messenger-charts {
    @include s.flexColumn;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;

    & > .charts {
      @include s.flexRow;
      flex: 1;
      overflow: hidden;

      & > .div {
        @include s.flexRow;
        padding: 10px;
        height: 100%;
        justify-content: center;
      }

      & > .messenger {
        width: 40%;
      }

      & > .segment {
        width: 30%;

        & > div {
          @include s.flexRow;
          width: 100%;
          height: 50%;
        }
      }
    }

    & > .button {
      @include s.flexRow;
      flex: 0 0 auto;
      width: 100%;
      justify-content: flex-end;

      & > button {
        @include s.pqButton();
      }
    }
  }
}
