<div class="forgotPasswordContainer">
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm.value)">
    <div>
      <p>{{ 'Correo electrónico' | translate }}</p>
      <input
        type="text"
        minlength="1"
        name="email"
        formControlName="email"
        [placeholder]="'Correo electrónico' | translate"
        required
      />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          {{ 'Ingrese el correo electrónico' | translate }}
        </div>
        <div *ngIf="email.errors.maxlength">
          {{ 'El número de caracteres no puede ser mayor a 100' | translate }}
        </div>
        <div *ngIf="email.errors.pattern">
          {{ 'El campo debe ser un correo electrónico' | translate }}
        </div>
      </div>
    </div>
    <div>
      <input type="submit" [value]="'Link para restablecer contraseña' | translate" [disabled]="!emailForm.valid" />
    </div>
    <div>
      <a [routerLink]="['/login']">{{ 'Iniciar Sesión' | translate }}</a>
    </div>
  </form>
</div>
