@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  @include s.flexColumn;

  & .product-item {
    @include s.flexRow;
    align-items: center;
    border-bottom: 1px solid s.$pqGray2;
    cursor: pointer;
    flex: 0 0 60px;

    &.selected {
      & > .select-indicator {
        background-color: s.$pqGreen;
      }
    }

    & * {
      cursor: pointer;
    }

    &:hover {
      background-color: s.$pqGray2;
    }

    & > .select-indicator {
      display: flex;
      flex: 0 0 7px;
      height: 100%;
    }

    & > .item-content {
      @include s.flexColumn;
      flex: 1;
      gap: 5px;
      padding: 10px;

      & > .title {
        @include s.multiLineTextTruncateSinHeight($lines: 2, $lineHeight: 1em);

        & > label {
          @include s.Roboto-Bold;
          @include s.escaledFontFormat(s.$textSize13to14, bold, s.$pqBlack2);
        }
      }

      & > .subtitle {
        @include s.flexRow;

        & > label {
          @include s.escaledFontFormat(s.$textSize10to11, bold, s.$pqGreen);
          @include s.Roboto-Bold;

          & > span {
            vertical-align: baseline;
            color: s.$pqBlack2;
          }
        }
      }

      & > .has-config-indicator {
        display: flex;

        & > img {
          height: 12px;
        }
      }
    }
  }

  @include s.responsive_layout('macBookAir') {
    & > .product-item {
      @include s.flexRow;
      flex: 0 0 65px;

      & > .select-indicator {
        flex: 0 0 8px;
      }

      & > .item-content {
        @include s.flexColumn;
        flex: 1;
        gap: 6px;
        padding: 15px;

        & > .has-config-indicator {
          & > img {
            height: 13px;
          }
        }
      }
    }
  }
}
