<div class="dashboard-container" id="client-pre-processing-list">
  <div class="left-container">
    <label class="title">{{ 'preProcessing.clients' | translate }}</label>
    <div class="tabs">
      <app-tabs [options]="options$ | async" [tapSelected]="tabSelected$ | async" (onSelectOption)="setTab($event)"></app-tabs>
    </div>
    <div class="filters">
      <div>
        <app-hamburger-menu
          [options]="filters$ | async"
          [value]="(filterSelected$ | async).value"
          (valueEmit)="setOrder($event)"
        >
        </app-hamburger-menu>
      </div>
      <div>
        <app-date-range (emitValues)="setRange($event)"></app-date-range>
      </div>
    </div>
    <div class="search-bar">
      <app-search
        (handleTypeSelected)="setSearchType($event)"
        [imageFill]="'#008894'"
        [isSearchByType]="true"
        [placeholder]="'Buscar'"
        [typeSelected]="typeSelected$ | async"
        [typesOfSearch]="searchTypes$ | async"
        (textSearch)="handleKeySearch($event)"
      >
      </app-search>
    </div>
    <div class="list-container">
      <virtual-scroller
        class="virtual-list"
        *ngIf="(isLoadingClientsPreProcessing$ | async) === 3 && (customers$ | async)?.length > 0"
        [items]="customers$ | async"
        (vsUpdate)="customerScrollItems = $event"
      >
        <app-preprocess-dashboard-item
          *ngFor="let item of customerScrollItems"
          [preprocessItem]="item"
          [tabSelected]="tabSelected$ | async"
          (click)="redirect(item)"
        >
        </app-preprocess-dashboard-item>
      </virtual-scroller>
      <div class="without-results" *ngIf="(isLoadingClientsPreProcessing$ | async) === 3 && (customers$ | async)?.length === 0">
        <app-without-results [title]="'common.withoutInformation' | translate"></app-without-results>
      </div>
      <div class="loader" *ngIf="(isLoadingClientsPreProcessing$ | async) === 1">
        <app-loading></app-loading>
      </div>
    </div>
    <div class="footer" *ngIf="(totals$ | async) || {}; let total">
      <label>{{ '#' + ((customers$ | async)?.length | number: '1.0-0') }}</label>
      <label
        >{{ OCTotals$ | async | number: '1.0-0' }}
        {{ (OCTotals$ | async) === 1 ? ('common.purchaseOrder' | translate) : ('common.purchaseOrders' | translate) }}</label
      >
      <label
        >{{ totalsItems$ | async | number: '1.0-0' }}
        {{ (totalsItems$ | async) === 1 ? ('common.item' | translate) : ('common.items' | translate) }}</label
      >
      <label
        >{{ 'common.totalValue' | translate }} {{ totalUSDValue$ | async | currency: 'USD':'symbol-narrow':'1.2-2' }} USD</label
      >
    </div>
  </div>
  <div class="right-container">
    <ng-container *ngIf="(isLoadingClientsPreProcessing$ | async) === 3">
      <app-doughnut-chart
        [data]="doughnutChartData$ | async"
        [optionDetails]="doughnutChartOptionDetails$ | async"
        [optionDetailsHover]="doughnutChartOptionDetailsHover$ | async"
        [maxWidth]="'850px'"
        [titleDetails]="'Totales'"
        [title]="'preProcessing.clients' | translate"
        [typeChart]="1"
      >
      </app-doughnut-chart>
      <app-bar-chart [maxWidth]="'850px'" [title]="'Partidas'" [values]="barChartData$ | async"></app-bar-chart>
    </ng-container>
    <app-loading class="loading" *ngIf="(isLoadingClientsPreProcessing$ | async) === 1"></app-loading>
  </div>
</div>
