<div id="warehouse-container">
  <div class="header-bar">
    <app-header-bar [title]="title$ | async" [activeBack]="isDetails$ | async" (goBack)="goBack()"></app-header-bar>
  </div>
  <div class="data-header">
    <div class="content">
      <div class="item">
        <div class="title">
          <label>{{ 'warehouse.yourGoal' | translate }}</label>
          <label>de {{ 'warehouse.packingList' | translate }} {{ 'dropDownButtonCustom.today' | translate }}</label>
        </div>
        <div class="number">
          <label class="total"> {{ '51' }}</label>
        </div>
        <div class="image">
          <img alt="objective" src="assets/Images/objetivo.svg" />
        </div>
      </div>
      <div class="item pa">
        <div class="title">
          <label>{{ 'warehouse.packingList' | translate }}</label>
          <label>{{ 'warehouse.workedToday' | translate }}</label>
        </div>
        <div class="number">
          <label class="total ocean"> {{ '51' }}</label>
        </div>
      </div>
      <div class="item pa">
        <div class="title">
          <label>{{ 'warehouse.packingList' | translate }}</label>
          <label>{{ 'warehouse.desired' | translate }}</label>
        </div>
        <div class="number tooltip">
          <label class="total ocean"> {{ '51' }}</label>
          <label class="super-index">{{ '51' }}</label>
          <div class="tooltip-text">
            <p>{{ '51' }}</p>
          </div>
        </div>
      </div>
      <div class="item pa">
        <div class="title">
          <label>{{ 'warehouse.minimumOf' | translate }}</label>
          <label>{{ 'warehouse.packingList' | translate }}</label>
        </div>
        <div class="number tooltip">
          <label class="total ocean"> {{ '51' }}</label>
          <label class="super-index">{{ '-51' }}</label>
          <div class="tooltip-text">
            <p>{{ '51' }}</p>
          </div>
        </div>
        <div class="big-image">
          <img src="assets/Images/graficasBtn.svg" alt="'Abrir pop'" (click)="handleModal(true)" />
        </div>
      </div>
    </div>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
</div>
<app-pop-up-generic
  *ngIf="modal"
  class="pop-up"
  [width]="'550px'"
  [height]="'600px'"
  [showClose]="true"
  (evento)="handleModal(false)"
  [titleHeader]="'warehouse.userStatistics' | translate"
>
  <div class="container">
    <div class="first-section">
      <div class="historical-totals">
        <label class="title">{{ 'warehouse.historicalTotals' | translate }}</label>
        <div>
          <label class="data">{{ 1485 | acFormatNumber }}</label>
          <label class="campo">{{ 'warehouse.items' | translate }} {{ 'Packing list' }}</label>
        </div>
        <div>
          <label class="data">{{ 1485 | acFormatNumber }} </label>
          <label class="campo">{{ 'warehouse.pieces' | translate }} {{ 'Packing list' }}</label>
        </div>
      </div>
    </div>
    <div class="second-section">
      <div class="header">
        <label class="titulo">{{ 'warehouse.performanceCurve' | translate }}</label>
        <app-drop-down-list></app-drop-down-list>
      </div>
      <div class="content"></div>
    </div>
  </div>
</app-pop-up-generic>
