<div class="component-container" id="check-oc-not-arrived-container">
  <div class="header">
    <app-header-bar [title]="title$ | async" (goBack)="goBack()" [activeBack]="isInDetailsView$ | async"></app-header-bar>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" *ngIf="!(isInDetailsView$ | async)">
    <div>
      <img alt="programada" src="assets/Images/labels/programada.svg" />
      <label>{{ 'registerConfirmation.scheduledDelivery' | translate }}</label>
    </div>
    <div>
      <img alt="unica" src="assets/Images/labels/unica.svg" />
      <label>{{ 'registerConfirmation.singleDelivery' | translate }}</label>
    </div>
    <div>
      <label class="label-dark">FEE:</label>
      <label>{{ 'dailyMeeting.deliveryDate' | translate }}</label>
    </div>
    <div>
      <label class="label-dark">OC:</label>
      <label>{{ 'processPurchase.purchaseOrder' | translate }}</label>
    </div>
  </div>
</div>
