@use 'base' as s;

:host {
  @include s.absolute100;
  @include s.flexColumn;
  @include s.reset-line-height;
  overflow: hidden;
}

#regulatory-research-dashboard {
  display: grid;
  flex: 1;
  grid-column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;

  & > .list {
    @include s.flexColumn;
    grid-column-end: span 3;

    & > .filters {
      @include s.flexColumn;
      border-bottom: 1px solid s.$dark-proquifa-d;
      padding: 8px 8px 16px 8px;
      row-gap: 20px;

      & > .title {
        & > label {
          @include s.responsive-font-format(
            $font-family: s.$font-family-roboto_bold,
            $font-weight: s.$font-weight-bold,
            $font-size-map: s.$responsive-font-20-20
          );
        }
      }

      & > .options {
        padding-top: 4px;
      }
    }

    & > .list-items {
      @include s.flexColumn;
      flex: 1;

      & > virtual-scroller {
        @include s.absolute100;
        @include s.fixVirtualScroller;

        ::ng-deep .scrollable-content {
          * {
            cursor: pointer;
          }

          & > .item {
            @include s.flexRow;
            background-color: s.$light-proquifa;
            border-bottom: 1px solid s.$dark-proquifa-d;
            padding: 8px;

            &:hover {
              background-color: s.$dark-proquifa-e;
            }

            & > .index {
              @include s.flexRow;
              align-items: flex-start;
              padding-right: 8px;

              & > label {
                @include s.responsive-font-format($font-size-map: s.$responsive-font-16-20);
                padding-top: 2px;
                width: 38px;
              }
            }

            & > .info {
              @include s.flexColumn;
              flex: 1;
              row-gap: 8px;

              & > .content1 {
                @include s.flexColumn;
                row-gap: 8px;

                & > .name {
                  & > label {
                    @include s.responsive-font-format($font-size-map: s.$responsive-font-20-24, $color: s.$pqGreen);
                  }
                }

                & > .products {
                  & > label {
                    @include s.responsive-font-format(
                      $font-family: s.$font-family-roboto_bold,
                      $font-weight: s.$font-weight-bold,
                      $font-size-map: s.$responsive-font-16-20
                    );
                  }
                }
              }

              & > .content2 {
                @include s.flexColumn;
                row-gap: 4px;

                & > .quotations {
                  & > label {
                    @include s.responsive-font-format($font-size-map: s.$responsive-font-16-16);
                  }
                }

                & > .date {
                  & > label {
                    @include s.responsive-font-format(
                      $font-family: s.$font-family-roboto_bold,
                      $font-weight: s.$font-weight-bold,
                      $font-size-map: s.$responsive-font-14-16
                    );

                    &.wrap {
                      white-space: nowrap;
                    }
                  }
                }
              }
            }

            & > .arrow {
              @include s.flexRow;
              align-items: center;
              justify-content: center;
              padding-left: 14px;

              & > img {
                height: 26px;
                width: 16px;
              }
            }
          }
        }
      }

      & > .loader {
        @include s.flexRow;
        align-items: center;
        flex: 1;
      }

      & > .without-results {
        @include s.flexRow;
        align-items: center;
        flex: 1;
      }
    }
  }

  & > .dashboard {
    @include s.grid-dashboard-graphics();
    background-color: s.$dark-proquifa-f;
    grid-column-end: span 9;
    overflow: hidden;

    & > .chart {
      overflow: hidden;
      padding: 91px 0;
    }

    & > .loader {
      @include s.flexRow;
      align-items: center;
      grid-column-end: span 7;
      grid-row-end: span 4;
      flex: 1;
    }
  }

  @include s.media-query(s.$standard) {
    grid-template-columns: repeat(10, 1fr);
    & > .list {
      & > .filters {
        padding: 16px;
      }

      & > .list-items {
        & > virtual-scroller {
          ::ng-deep .scrollable-content {
            & > .item {
              padding: 14px 22px;

              & > .index {
                padding-right: 24px;
              }

              & > .info {
                row-gap: 8px;
              }
            }
          }
        }
      }
    }
    & > .dashboard {
      grid-column-end: span 7;
    }
  }
}
