<app-pop-up-generic
  id="controlled-products-confirmation"
  [activeButtons]="true"
  [width]="'620px'"
  [height]="'360px'"
  (evento)="onClose($event)"
>
  <div class="container">
    <div>
      <img src="assets/Images/alerta.svg" alt="Alerta" />
    </div>
    <div>
      <label>
        {{ 'preProcessing.the' | translate }}
        <span>OC-{{ (orderSelected$ | async).OrdenDeCompra }}</span>
        {{ 'preProcessing.controlledMessage' | translate }}
      </label>
    </div>
  </div>
</app-pop-up-generic>
