@use 'base' as s;

:host {
  width: 100%;
  height: 100%;
  position: relative;

  #general-summary {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;

    & > .filters {
      @include s.flexRow;
      max-width: 370px;
      width: auto;

      & > .arrow {
        @include s.default-transition($duration: 0.7s);
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 16px;
        z-index: 1;

        &.arrow-show-panel {
          left: 0;
        }

        &.arrow-hide-panel {
          left: 16.1rem;
        }
      }
    }

    & > .summary-data {
      @include s.flexRow;
      width: 100%;
      height: 100%;
    }

    & > .show {
      width: calc(100% - 274px);
    }
  }

  @include s.responsive_layout('macBookAir') {
    #general-summary {
      & > .filters {
        & > .arrow {
          &.arrow-hide-panel {
            left: 22.1rem;
          }
        }
      }

      & > .show {
        width: calc(100% - 370px);
      }
    }
  }
}
