@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  & > .discount-freight {
    @include s.flexRowNoWrap;
    justify-content: center;

    & > .left-container {
      @include s.flexColumn;
      align-items: center;
      /* DOCS: Se comentó porque se quitaron las Regalías de esta sección*/
      /*margin-right: 50px;*/

      & > h4 {
        @include s.escaledFontFormat(s.$textSize12to14, bold, s.$pqGreen);
        @include s.Novecento-Bold;
        margin-bottom: 12px;
      }

      & > .flex {
        @include s.flexRow;

        & > .input-container {
          @include s.flexRow;
          align-items: center;
          flex-wrap: nowrap;

          &:first-child {
            margin-right: 30px;
          }

          & > .input {
            margin: 0 7px;
            width: 90px;
          }

          & label {
            @include s.escaledFontFormat(s.$textSize12to14, bold, s.$pqBlack2);
            @include s.Roboto-Bold;
            white-space: pre;
          }

          & span {
            @include s.escaledFontFormat(s.$textSize12to14, regular, s.$pqBlack2);
            @include s.Roboto-Regular;
          }
        }
      }
    }

    & > .right-container {
      @include s.flexColumn;

      & > h4 {
        @include s.escaledFontFormat(s.$textSize12to14, bold, s.$pqGreen);
        @include s.Novecento-Bold;
        margin-bottom: 12px;
      }

      & > .flex {
        @include s.flexRow;

        & > .drop-list {
          width: 160px;
        }
      }
    }

    @include s.responsive_layout('macBookAir') {
      & > .left-container {
        & > .flex {
          & > .input-container {
            & > .input {
              margin: 0 9px;
              width: 100px;
            }
          }
        }
      }
    }
  }
}
