<div class="dashboard-container" id="daily-meeting-dashboard-container">
  <div class="left-container">
    <label class="title">EVI</label>
    <div class="filters">
      <div class="filter-by-type">
        <app-hamburger-menu
          [options]="valueFilter$ | async"
          [value]="(filterType$ | async).value"
          (valueEmit)="selectFilterByType($event)"
        >
        </app-hamburger-menu>
      </div>
      <div class="filter-by-date">
        <app-date-range (emitValues)="handleDateFilterSelectedOptionChange($event)"></app-date-range>
      </div>
    </div>
    <div class="search-bar">
      <app-search
        [imageFill]="'#008894'"
        [isSearchByType]="true"
        [placeholder]="'Escribe aquí'"
        [searchTerm]="searchTerm$ | async"
        [typeSelected]="typeSelected$ | async"
        [typesOfSearch]="searchTypes$ | async"
        (handleTypeSelected)="handleSearchTypeSelectedOptionChange($event)"
        (textSearch)="handleSearchTermChange($event)"
      >
      </app-search>
    </div>
    <div class="list-container">
      <virtual-scroller
        class="virtual-list"
        *ngIf="(listDailyMeetings$ | async)?.length > 0 && (isLoadingDailyMeetingList$ | async) === 3"
        [items]="listDailyMeetings$ | async"
        (vsUpdate)="listDailyMeetingsScrollItems = $event"
      >
        <app-daily-meeting-dashboard-item
          *ngFor="let dailyMeeting of listDailyMeetingsScrollItems; let index = index"
          [dailyMeeting]="dailyMeeting"
          [index]="index"
          (click)="redirectToDetails(dailyMeeting)"
        >
        </app-daily-meeting-dashboard-item>
      </virtual-scroller>
      <div
        class="without-results"
        *ngIf="(listDailyMeetings$ | async)?.length === 0 && (isLoadingDailyMeetingList$ | async) !== 1"
      >
        <app-without-results></app-without-results>
      </div>
      <div class="loader" *ngIf="(isLoadingDailyMeetingList$ | async) === 1 && (listDailyMeetings$ | async)?.length === 0">
        <app-loading></app-loading>
      </div>
    </div>
    <div class="footer">
      <label>{{ '#' + ((listDailyMeetings$ | async)?.length | number: '1.0-0') }}</label>
      <label>{{
        (totalQuotes$ | async | number: '1.0-0') +
          ((totalQuotes$ | async) === 1
            ? ' ' + ('dailyMeeting.quotation' | translate)
            : ' ' + ('dailyMeeting.quotations' | translate))
      }}</label>
      <label>{{
        (totalClients$ | async | number: '1.0-0') +
          ((totalClients$ | async) === 1
            ? ' ' + ('dailyMeeting.customer' | translate)
            : ' ' + ('dailyMeeting.customers' | translate))
      }}</label>
      <label>{{
        ('dailyMeeting.valueTotalClosing' | translate) +
          ': ' +
          (((totalQuoteAmount$ | async) ? (totalQuoteAmount$ | async) : 0) | currency: 'USD':'symbol-narrow':'1.2-2') +
          ' USD'
      }}</label>
    </div>
  </div>
  <div class="right-container">
    <ng-container *ngIf="true">
      <app-doughnut-chart
        *ngIf="(isLoadingDailyMeetingList$ | async) !== 1"
        [data]="doughnutChartData$ | async"
        [optionDetailsHover]="doughnutChartOptionDetailsHover$ | async"
        [optionDetails]="doughnutChartOptionDetails$ | async"
        [titleDetails]="'Totales'"
        [title]="'CLIENTES'"
        [typeChart]="1"
      ></app-doughnut-chart>
      <app-bar-chart
        *ngIf="(isLoadingDailyMeetingList$ | async) !== 1"
        [customColor]="true"
        [graphingCurrency]="true"
        [textScaleEnd]="'USD'"
        [title]="titleBarChart"
        [typeChart]="2"
        [values]="valuesBarChart$ | async"
      >
      </app-bar-chart>
    </ng-container>
    <app-loading class="loading" *ngIf="(isLoadingDailyMeetingList$ | async) === 1"></app-loading>
  </div>
</div>
