@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  $left-container-flex: (
    'base': 560px,
    'macBookAir': 600px,
  );
  $graphics-padding: (
    'base': 10px 60px,
    'macBookAir': 30px 40px,
  );
  $graphics-structure: (
    'top': 1,
    'bottom': 1,
  );
  $graphics-gap: (
    'base': 25px 0,
    'macBookAir': 40px 0,
  );

  // minx que coloca la estructura del DashBoard
  @include s.pending-dashboard-structure($left-container-flex, $graphics-padding, $graphics-structure, $graphics-gap);

  #daily-meeting-dashboard-container {
    & > .left-container {
      & > .filters {
        & > div:nth-of-type(1) {
          width: 40%;
        }

        & > div:nth-of-type(2) {
          width: 60%;
        }

        & > div {
          @include s.flexRow;
          align-items: center;
          justify-content: center;
          width: 50%;
        }
      }

      & > .list-container {
        & > .virtual-list {
        }
      }

      & > .footer {
        @include s.flexRow;
        border-top: 1px solid s.$pqBlack2;
        justify-content: space-between;

        & > label {
          @include s.responsive-font-format(
            $font-family: s.$font_family_roboto_regular,
            $font-weight: s.$font_weight_regular,
            $font-size-map: s.$responsive-font-10-12-b
          );
          @include s.flexRow;
        }
      }
    }

    & > .right-container {
      & > app-doughnut-chart {
        grid-column-end: span 2;
        overflow: hidden;
      }

      & > app-bar-chart {
        overflow: hidden;
      }

      & > .loading {
        grid-area: 2/1/2/2;
      }
    }
  }
}
