<div class="utility">
  <div class="grid-inputs">
    <div class="input-container">
      <label>{{ 'formProvider.step8.utilities.AA+' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.AAPlus)"
        (textData)="setUtility($event, fields.AAPlus, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container">
      <label>{{ 'formProvider.step8.utilities.MA' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.MA)"
        (textData)="setUtility($event, fields.MA, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container">
      <label>{{ 'formProvider.step8.utilities.MM' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.MM)"
        (textData)="setUtility($event, fields.MM, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container">
      <label>{{ 'formProvider.step8.utilities.MB' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.MB)"
        (textData)="setUtility($event, fields.MB, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container">
      <label>{{ 'formProvider.step8.utilities.WEB' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.WEB)"
        (textData)="setUtility($event, fields.WEB, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container">
      <label>{{ 'formProvider.step8.utilities.AA' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.AA)"
        (textData)="setUtility($event, fields.AA, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container">
      <label>{{ 'formProvider.step8.utilities.AM' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.AM)"
        (textData)="setUtility($event, fields.AM, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container">
      <label>{{ 'formProvider.step8.utilities.AB' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.AB)"
        (textData)="setUtility($event, fields.AB, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container area9">
      <label>{{ 'formProvider.step8.utilities.BAJO' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.BAJO)"
        (textData)="setUtility($event, fields.BAJO, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
    <div class="input-container area10">
      <label>{{ 'formProvider.step8.utilities.DIST' | translate }}</label>
      <app-generic-input
        class="input"
        [enableEdit]="enableEdit"
        [fontColor]="'#008894'"
        [maxlength]="14"
        [placeholder]="'0'"
        [textAlign]="'center'"
        [typeValidation]="inputValidators.Percentage"
        [value]="getUtility(fields.DIST)"
        (textData)="setUtility($event, fields.DIST, providerUtilities?.IdMarcaFamiliaCatIndustria)"
      >
      </app-generic-input>
      <span>%</span>
    </div>
  </div>
</div>
