@use 'base' as s;

:host {
  @include s.reset-line-height;
}

.checks-list {
  @include s.flexColumn;
  flex: 1;
  row-gap: 27px;

  & > .checks-content {
    @include s.flexColumn;
    padding-bottom: 24px;
    row-gap: 20px;

    & > .section {
      @include s.flexColumn;
      row-gap: 8px;

      & > label {
        @include s.responsive-font-format(
          $font-family: s.$font-family-roboto_bold,
          $font-weight: s.$font-weight-bold,
          $font-size-map: s.$responsive-font-20-20
        );
      }

      & > .checks-list {
        @include s.flexColumn;
        row-gap: 8px;
      }
    }
  }

  @include s.media-query(s.$standard) {
    row-gap: 16px;
    & > .all {
      padding-left: 32px;
    }
    & > .checks-content {
      row-gap: 32px;
      padding-left: 64px;

      & > .section {
        & > .checks-list {
          padding-left: 12px;
        }
      }
    }
  }
}
