@use 'base' as s;
* {
  box-sizing: border-box;
}
:host {
  app-pop-up-generic {
    ::ng-deep .modal {
      background: none;

      & > .modal-content {
        transition: none;
      }
    }
  }
  @include s.absolute100();
  .configure-container {
    @include s.absolute100();
    @include s.flexColumn;
    flex: 1;
    overflow: hidden;
    & > .view-files-container {
      @include s.flexColumn;
      background-color: s.$pqGray2;
      flex: 1;
      overflow: auto;
      & > .content-file {
        display: flex;
        flex: 1 0 100%;
        flex-direction: column;
      }
    }
    & > .loading-container {
      align-items: center;
      background-color: s.$pqGray2;
      display: flex;
      flex: 1;
    }
    & > .buttons {
      @include s.flexRow;
      width: 100%;
      padding: 0 30px 44px 30px;
      justify-content: space-between;
      flex: 0 0 auto;
      background-color: s.$pqGray2;
      border-radius: 0 0 25px 25px;
      & > .active {
        @include s.pqfButton();
      }
      & > .disable {
        @include s.pqfDisableButton();
      }
    }
  }
}
