<div id="items-products">
  <div class="content-items">
    <label>{{ 'quotation.details.dataProduct' | translate }}</label>
    <div class="information">
      <div class="section-first">
        <div>
          <label class="title">
            {{ 'common.unitPrice' | translate }}:
            <span class="text">{{ product?.PrecioDeVenta | currency: 'USD':'symbol-narrow':'1.2-2' }} {{ currency }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.present' | translate }}:
            <span class="text">{{ product?.Presentacion }} {{ product?.Unidad }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.tDelivery' | translate }}:
            <span class="text">{{ product?.TiempoEntrega }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.dateCura' | translate }}:
            <span class="text">{{ product?.FechaCaducidadVigenciaCuraduria | dateFormatSlashShort }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.provider' | translate }}:
            <span class="text">{{ product.NombreProveedor }}</span>
          </label>
        </div>
      </div>
      <div class="section-second">
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.mark' | translate }}:
            <span class="text">{{ product.NombreMarca }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.catNo' | translate }}:
            <span class="text">{{ product.Catalogo }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.cas' | translate }}:
            <span class="text">{{ product?.CAS || 'N/D' }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.synonyms' | translate }}:
            <span class="text">{{ product?.Sinonimos || 'N/D' }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.use' | translate }}:
            <span class="text">{{ product?.Uso || 'N/D' }}</span>
          </label>
        </div>
      </div>
      <div class="section-three">
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.rankings' | translate }}:
            <span class="text">{{ product?.Clasificacion || 'N/D' }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.application' | translate }}:
            <label class="text">{{ product?.Aplicacion || 'N/D' }}</label>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.physicalState' | translate }}:
            <span class="text">{{ product?.EstadoFisico || 'N/D' }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.lteVigen' | translate }}:
            <span class="text">{{ product?.vProductDetails?.Lote?.Nombre || 'N/D' }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.lteBefore' | translate }}:
            <span class="text">{{
              product?.vProductDetails?.Lotes?.length === 0
                ? 'N/D'
                : product?.vProductDetails?.Lotes?.length < 2
                ? product?.vProductDetails?.Lotes?.[0].Nombre
                : product?.vProductDetails?.Lotes?.[product.vProductDetails?.Lotes?.length - 2].Nombre
            }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="technical-product">
  <div class="section">
    <div class="family-items">
      <label>{{ 'quotation.details.family' | translate }}</label>
      <div class="content">
        <label class="text"
          >{{ family }}
          <label class="orange" *ngIf="product.Controlado"> · {{ 'descriptionItemQuote.controlled' | translate }}</label>
        </label>
        <label *ngIf="isNotMarketable" class="not-marketable">{{ 'quotation.details.marketableProduct' | translate }}</label>
        <label *ngIf="isBackOrder" class="title">
          {{ 'quotation.details.section.detailsProducts.ability' | translate }} :
          <span class="text">{{ product?.FechaDisponibilidadBackOrder | dateFormatSlashShort }}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="section">
    <label>{{ 'quotation.details.purchaseRestrictions' | translate }}</label>
    <div>
      <label class="description">
        {{ product.vProductDetails?.RestriccionDeCompra }}
        <ng-container *ngIf="isValidLimitOfPieces(product.vProductDetails?.RestriccionDeCompra)">
          {{ ' · ' + product.NumeroDePiezas + ' ' + ('quotation.details.perMonth' | translate) }}
        </ng-container>
      </label>
    </div>
  </div>
  <div class="section">
    <app-documentation *ngIf="product?.isSelected" [product]="product" [location]="'list'"></app-documentation>
    <!--      <div>
        <img src="assets/Images/document.svg" />
        <label class="text line">{{ 'quotation.details.section.detailsProducts.certificate' | translate }}</label>
      </div>
      <div>
        <img src="assets/Images/document.svg" />
        <label class="text line">{{ 'quotation.details.section.detailsProducts.safetySheet' | translate }}</label>
      </div>
      <div>
        <img src="assets/Images/document.svg" />
        <label class="text line">{{ 'quotation.details.section.detailsProducts.molecularStructure' | translate }}</label>
      </div>
    </div>-->
  </div>
  <div class="comment">
    <label class="title">{{ 'quotation.details.section.detailsProducts.seeCommentProduct' | translate }}:</label>
    <label class="text">{{ product?.Nota ? product?.Nota : 'N/D' }}</label>
  </div>
</div>
