<div id="contact-container">
  <div class="title">
    <label>variables </label>
    <label> · 3 calificaciones realizadas de 3 posibles</label>
  </div>
  <div class="container-info-user">
    <img src="assets/Images/strategy/user.svg" />
    <div class="info-user">
      <label>José Ramón Ruiz Fernández</label>
      <div class="depto">
        <label>Depto:</label>
        <label>Compras</label>
      </div>
      <div class="cargo">
        <label>Puesto:</label>
        <label>Administrativo</label>
      </div>
    </div>
  </div>
  <label>Valores</label>
  <div class="groups">
    <div class="group-one">
      <div class="principle-one">
        <label>· Credibilidad:</label>
        <div class="rols">
          <div class="evi">
            <label>EVI</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
          <div class="eve">
            <label>EVE</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-inactive.svg" />
              <img src="assets/Images/strategy/dislike-inactive.svg" />
            </div>
          </div>
          <div class="esac">
            <label>ESAC</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like.svg" />
              <img src="assets/Images/strategy/dislike-disable.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="principle-two">
        <label>· Negociación:</label>
        <div class="rols">
          <div class="evi">
            <label>EVI</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-disable.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
          <div class="eve">
            <label>EVE</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-inactive.svg" />
              <img src="assets/Images/strategy/dislike-inactive.svg" />
            </div>
          </div>
          <div class="esac">
            <label>ESAC</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="principle-three">
        <label>· Respeto:</label>
        <div class="rols">
          <div class="evi">
            <label>EVI</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
          <div class="eve">
            <label>EVE</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-inactive.svg" />
              <img src="assets/Images/strategy/dislike-inactive.svg" />
            </div>
          </div>
          <div class="esac">
            <label>ESAC</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-two">
      <div class="principle-one">
        <label>· Empatía:</label>
        <div class="rols">
          <div class="evi">
            <label>EVI</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
          <div class="eve">
            <label>EVE</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-inactive.svg" />
              <img src="assets/Images/strategy/dislike-inactive.svg" />
            </div>
          </div>
          <div class="esac">
            <label>ESAC</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-disable.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="principle-two">
        <label>· Retador:</label>
        <div class="rols">
          <div class="evi">
            <label>EVI</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
          <div class="eve">
            <label>EVE</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-inactive.svg" />
              <img src="assets/Images/strategy/dislike-inactive.svg" />
            </div>
          </div>
          <div class="esac">
            <label>ESAC</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-disable.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="principle-three">
        <label>· Receptivo:</label>
        <div class="rols">
          <div class="evi">
            <label>EVI</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-disable.svg" />
              <img src="assets/Images/strategy/dislike-disable.svg" />
            </div>
          </div>
          <div class="eve">
            <label>EVE</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like-inactive.svg" />
              <img src="assets/Images/strategy/dislike-inactive.svg" />
            </div>
          </div>
          <div class="esac">
            <label>ESAC</label>
            <div class="reactions">
              <img src="assets/Images/strategy/like.svg" />
              <img src="assets/Images/strategy/dislike.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
