@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  width: 100%;
  height: 100%;
  .item {
    @include s.flexRow;
    border-bottom: 1px solid s.$pqGray2;
    padding: 30px;
    &:hover {
      background-color: s.$pqGray2;
    }
    & > .content {
      @include s.flexColumn;
      flex: 1;
      gap: 6px;
      & > .info {
        @include s.flexRow;
        align-items: center;
        & > label {
          @include s.escaledFontFormat(s.$textSize13to17, bold, s.$pqBlack2);
          @include s.Roboto-Bold;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          overflow: hidden;
          text-align: start;
          text-overflow: ellipsis;
          line-height: initial;
          & > span {
            @include s.Roboto-Regular;
            vertical-align: baseline;
          }
          & .imageBrand {
            max-height: 21px;
            max-width: 31px;
          }

          & .entry-type {
            width: 15px;
            height: 15px;
          }
        }
      }
      & > .price-adjusted {
        @include s.flexRowNoWrap;

        & > label {
          @include s.escaledFontFormat(s.$textSize13to17, bold, s.$pqBlack2);
          @include s.Roboto-Bold;
          white-space: pre;
          &.red {
            color: s.$pqRed;
          }
          &.yellow {
            color: s.$orange;
          }
          &.green {
            color: s.$pqGreen2;
          }
        }
      }
      & > .comments {
        @include s.flexRow;
        & > label {
          @include s.escaledFontFormat(s.$textSize12to15, bold, s.$pqBlack2);
          @include s.Roboto-Bold;
          white-space: pre;
        }
        & > label:nth-of-type(2) {
          @include s.Roboto-Regular;
        }
      }
    }
    & > .status {
      @include s.flexRow;
      @include s.absoluteCenter;
      flex: 0 0 90px;
      & > label {
        @include s.escaledFontFormat(s.$textSize13to17, bold, s.$pqBlack2);
        @include s.Roboto-Bold;
        &.red {
          color: s.$pqRed;
        }
        &.yellow {
          color: s.$orange;
        }
        &.green {
          color: s.$pqGreen2;
        }
      }
    }
  }
}
