@use 'base' as s;

:host {
  width: 100%;
  height: 100%;

  $grayColor: s.$gnGrisRata;
  $blueColor: s.$gnAzulMedio;

  & > .dropList {
    width: 100%;
    padding: 0;
    position: relative;
    display: inline-block;

    & > .container-drop {
      width: 100%;
      padding: 0;
      position: relative;

      & > .Title {
        @include s.flexRow;
        justify-content: space-between;
        width: 100%;
        height: 30px;
        color: s.$pqBlack2;
        box-sizing: border-box;
        border: 1px solid #eceef0;
        font-size: 18px;
        align-items: center;
        padding-top: 3px;

        & > p {
          @include s.flexRow;
          @include s.absoluteCenter;
          @include s.Roboto-Regular;
          font-size: 18px;
          padding-left: 6px;
        }

        & > .flecha {
          width: 11px;
          height: 6px;
          top: 9px;
          right: 7px;
          padding-left: 5px;
          position: absolute;
        }

        & > .left {
          @include s.flexRow;
          @include s.absoluteCenter;
          width: 100%;
          text-align: left;
          justify-content: flex-start;
        }

        & > i {
          @include s.flexRow;
          @include s.absoluteCenter;
          color: lightblue;
        }

        & > div {
          @include s.flexRow;
          box-sizing: border-box;
          width: calc(100% - 19px);
          padding-left: 20px;
        }
      }

      & > .Title.Disabled {
        pointer-events: none;
        @include s.flexRow;
        justify-content: space-between;
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        border-bottom: 0.75px solid $grayColor;
        padding-top: 3px;

        & > p {
          @include s.flexRow;
          @include s.absoluteCenter;
          @include s.Roboto-Regular;
          font-size: 18px;
        }

        & > i {
          @include s.flexRow;
          @include s.absoluteCenter;
          color: lightgray;
        }

        & > div {
          @include s.flexRow;
          box-sizing: border-box;
          width: calc(100% - 19px);
          padding-left: 20px;
        }
      }

      & > .content {
        width: 100%;
        max-height: 200px;
        top: 30px;
        background-color: white;
        border: 1px solid s.$gnInactivo;
        position: absolute;
        z-index: 100;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 1s;

        & > .triangulo {
          width: 0px;
          height: 0px;
          border-left: 8px solid transparent; /* izquierda flecha */
          border-right: 8px solid transparent; /* derecha flecha */
          border-bottom: 8px solid s.$gnInactivo; /* base flecha y color*/
          line-height: 0px;
          position: relative;
          left: 0;
          top: -9px;
          right: 0;
          margin: auto;
          bottom: 0;
        }

        & > .triangulo2 {
          width: 0;
          height: 0;
          border-left: 8px solid transparent; /* izquierda flecha */
          border-right: 8px solid transparent; /* derecha flecha */
          border-bottom: 8px solid white; /* base flecha y color*/
          line-height: 0;
          position: relative;
          left: 0;
          top: -15px;
          margin: auto;
          right: 0;
          bottom: 0;
        }

        & > .search {
          padding: 10px 20px 10px 20px;
        }

        .lista {
          @include s.windowsScrollbars('none');
          max-height: 125px;
          margin: 0px 0px 0px 0px !important;
          overflow: auto;

          & > .container-li {
            & > .border-separator {
              & > li {
                align-items: flex-start;
                font-family: s.$font-family_roboto_regular;
                font-weight: lighter;
                display: flex;
                flex-direction: column;
              }
            }
          }

          & > li {
            @include s.flexRow;
            height: 35px;
            transition: 0.5s all;
            color: s.$pqBlack2;
            cursor: pointer;
            font-size: 18px;
            @include s.Roboto-Regular;
            @include s.multiLineTextTruncate(1, 25px, 25px, #fff);
            word-break: break-all;
            box-sizing: border-box;

            &:hover {
              font-size: 18px;
              color: s.$pqGreen;
              font-weight: 300;
            }
          }

          & > .category {
            pointer-events: none;
            color: s.$gnInactivo;
            font-size: 1em;
            cursor: none;
            left: -5px;
            padding: 0px 0px;
          }
        }

        & > .button {
          @include s.absoluteCenter;
          @include s.flexRow;
          margin-top: 20px;
          border-radius: 0 0 5px 5px !important;
        }
      }
    }
  }

  & > .dropListSelect {
    width: 100%;
    padding: 0;
    position: relative;
    display: inline-block;

    & > .container-drop {
      width: 100%;
      padding: 0;
      position: relative;

      & > .Title {
        @include s.flexRow;
        width: 100%;
        min-height: 30px;
        color: s.$pqBlack2;
        justify-content: space-between;
        box-sizing: border-box;
        border: 1px solid #eceef0;
        font-size: 18px;
        align-items: center;
        padding-top: 3px;

        & > p {
          @include s.flexRow;
          @include s.absoluteCenter;
          @include s.Roboto-Regular;
          font-size: 18px;
          padding-left: 6px;
        }

        & > .left {
          @include s.flexRow;
          @include s.absoluteCenter;
          width: 100%;
          text-align: left;
          justify-content: flex-start;
        }

        & > i {
          @include s.flexRow;
          @include s.absoluteCenter;
          color: lightblue;
        }

        & > div {
          @include s.flexRow;
          box-sizing: border-box;
          width: calc(100% - 19px);
          padding-left: 20px;
        }
      }

      & > .Title.Disabled {
        pointer-events: none;
        @include s.flexRow;
        justify-content: space-between;
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        border-bottom: 0.75px solid $grayColor;
        font-size: 18px;
        padding-top: 3px;

        & > p {
          @include s.flexRow;
          @include s.absoluteCenter;
          @include s.Roboto-Regular;
          font-size: 18px;
        }

        & > i {
          @include s.flexRow;
          @include s.absoluteCenter;
          color: lightgray;
        }

        & > div {
          @include s.flexRow;
          box-sizing: border-box;
          width: calc(100% - 19px);
          padding-left: 20px;
        }
      }

      & > .content {
        width: 100%;
        max-height: 200px;
        top: 30px;
        background-color: white;
        border: 1px solid s.$gnInactivo;
        //border-radius: 0 0 5px 5px;
        position: absolute;
        z-index: 100;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 1s;

        & > .triangulo {
          width: 0px;
          height: 0px;
          border-left: 8px solid transparent; /* izquierda flecha */
          border-right: 8px solid transparent; /* derecha flecha */
          border-bottom: 8px solid s.$gnInactivo; /* base flecha y color*/
          line-height: 0px;
          position: relative;
          left: 50%;
          top: -8px;
        }

        & > .small {
          left: 40%;
        }

        & > .triangulo2 {
          width: 0px;
          height: 0px;
          border-left: 8px solid transparent; /* izquierda flecha */
          border-right: 8px solid transparent; /* derecha flecha */
          border-bottom: 8px solid white; /* base flecha y color*/
          line-height: 0px;
          position: relative;

          left: 52.2%;
          top: -7px;
          margin: -7px;
        }

        & > .search {
          padding: 10px 20px 10px 20px;
        }

        .lista {
          @include s.windowsScrollbars('none');
          max-height: 125px;
          margin: 0px 0px 0px 0px !important;
          overflow: auto;

          & > li {
            @include s.flexRow;
            color: s.$pqBlack2;
            height: 32px;
            border-bottom: solid 0.75px s.$pqGray2 !important;
            transition: 0.5s all;
            cursor: pointer;
            font-size: 18px;
            @include s.Roboto-Regular;
            @include s.multiLineTextTruncate(1, 1.8em, 1.8em, #fff);
            word-break: break-all;

            &:hover {
              font-size: 18px;
              color: s.$pqGreen;
              font-weight: 300;
            }
          }

          & > .category {
            pointer-events: none;
            color: s.$gnInactivo;
            font-size: 1em;
          }
        }

        & > .button {
          @include s.absoluteCenter;
          @include s.flexRow;
          margin-top: 20px;
          border-radius: 0 0 5px 5px !important;
        }
      }
    }
  }

  .tooltip {
    position: relative !important;
    z-index: 1;
  }

  .tooltip .tooltiptext {
    border: 1px solid s.$pqGray2;
    visibility: hidden;
    width: 160px;
    background-color: s.$gnAzulObscuro;
    color: #fff;
    text-align: left;
    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 5px;
    margin-left: -60px;
    padding: 10px 15px;
    opacity: 0;
    transition: opacity 1s;

    & > span {
      color: s.$gnDorado;
    }
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.border-separator {
  margin: 0px auto;
  width: calc(100% - 60px);
}

.list {
  @include s.Roboto-Regular;
  @include s.flexColumn;
  min-height: 25px;
  align-items: left;
  box-sizing: border-box;
  border-bottom: 1px solid #eceef0;
  padding: 7px 0px 9px 0px;

  & > div {
  }
}

input {
  width: 100%;
  height: 24px;
  border: 0;
  outline: none;
  color: #008894 !important;
  font-size: 18px;
  @include s.Roboto-Regular;
  @include s.placeholder(s.$pqBlack);
}

.buscar {
  width: 19px !important;
  height: 13px !important;
  position: absolute;
}

.labelOption {
  $textSize: (
    'base': 14px,
    'macBookAir': 14px,
  );
  @include s.escaledFontFormat($textSize, regular, s.$pqBlack2);
  @include s.Roboto-Regular;
}

.label {
  $textSize: (
    'base': 13px,
    'macBookAir': 16px,
  );
  @include s.escaledFontFormat($textSize, regular, s.$pqBlack2);
  @include s.Roboto-Regular;
}

.labelDanger {
  $textSize: (
    'base': 13px,
    'macBookAir': 16px,
  );
  @include s.escaledFontFormat($textSize, regular, #dc3545);
  @include s.Roboto-Regular;
}

.label-disable-edit {
  @include s.flexRow;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  color: s.$pqBlack2;
  box-sizing: border-box;
  font-size: 16px;
  align-items: center;
  margin-top: 3px;
  position: relative;
  $textSize: (
    'base': 13px,
    'macBookAir': 16px,
  );
  @include s.escaledFontFormat($textSize, regular, s.$pqBlack2);
  @include s.Roboto-Regular;
}

.container-li:hover {
  background: #eceef0;
}

img {
  padding-right: 5px;
  padding-left: 5px;
}
