<div id="items-products">
  <div class="content-items">
    <label>{{ 'quotation.details.dataProduct' | translate }}</label>
    <div class="information">
      <div class="section-first">
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.provider' | translate }}:
            <span class="text">{{ product.NombreProveedor }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.mark' | translate }}:
            <span class="text">{{ product.NombreMarca }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.catNo' | translate }}:
            <span class="text">{{ product.Catalogo }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.handlingStorage' | translate }}:
            <span class="text">{{ product?.ManejoAlmacenaje || 'N/D' }}</span>
          </label>
        </div>
      </div>
      <div class="section-three">
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.sanitaryRegistrationNumber' | translate }}:
            <span class="text">{{ product?.vProductDetails?.ProductoDispositivoMedico?.NumeroDeRegistroSanitario }}</span>
          </label>
        </div>
        <div>
          <label class="title">
            {{ 'quotation.details.section.detailsProducts.expirationHealthRegister' | translate }}:
            <span class="text">{{ product?.FechaCaducidadRegistroSanitario | dateFormatSlashShort }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="family-items">
    <label>{{ 'quotation.details.family' | translate }}</label>
    <div class="content">
      <label class="text">
        {{ family }}
      </label>
      <label *ngIf="isNotMarketable" class="blue">{{ 'quotation.details.marketableProduct' | translate }}</label>
      <label *ngIf="isBackOrder" class="title">
        {{ 'quotation.details.section.detailsProducts.ability' | translate }} :
        <span class="text">{{ product?.FechaDisponibilidadBackOrder | dateFormatSlashShort }}</span>
      </label>
    </div>
  </div>
</div>
<div id="technical-product">
  <div class="section-first">
    <label class="">{{ 'quotation.details.purchaseRestrictions' | translate }}</label>
    <div>
      <label class="description">
        {{ product.vProductDetails?.RestriccionDeCompra }}
        <ng-container *ngIf="isValidLimitOfPieces(product.vProductDetails?.RestriccionDeCompra)">
          {{ ' · ' + product.NumeroDePiezas + ' ' + ('quotation.details.perMonth' | translate) }}
        </ng-container>
      </label>
    </div>
  </div>
  <div class="section-second">
    <label>{{ 'quotation.details.documentation' | translate }}</label>
    <div class="content">
      <div>
        <img alt="" src="assets/Images/document.svg" />
        <label class="text line">{{ 'quotation.details.section.detailsProducts.certificate' | translate }}</label>
      </div>
      <div>
        <img alt="" src="assets/Images/document.svg" />
        <label class="text line">{{ 'quotation.details.section.detailsProducts.safetySheet' | translate }}</label>
      </div>
      <div>
        <img alt="" src="assets/Images/document.svg" />
        <label class="text line">{{ 'quotation.details.section.detailsProducts.molecularStructure' | translate }}</label>
      </div>
    </div>
  </div>
  <div class="comment">
    <label class="title">{{ 'quotation.details.section.detailsProducts.seeCommentProduct' | translate }}:</label>
    <label class="text">{{ product?.Nota ? product?.Nota : 'N/D' }}</label>
  </div>
</div>
