@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  @include s.absolute100;
  display: block;

  & > .trademark-offer-container {
    @include s.flexColumn;
    gap: 15px;
    height: 100%;
    overflow: hidden;

    & > .tabs {
      flex: 0 0 auto;
    }

    & > .router-content {
      flex: 1 1 auto;
      overflow: hidden;
    }

    & .cancel-pop-up {
      & .container {
        @include s.flexColumn;
        align-items: center;

        & > img {
          @include s.default-transition();
          @include s.height-scaled-image(s.$warning-pop-image-map);
          margin-bottom: 20px;
        }

        & > div {
          padding: 0 40px;

          & > label {
            @include s.Roboto-Regular;
            @include s.escaledFontFormat(s.$textSize26to29, normal, s.$pqBlack2);
          }
        }
      }
    }

    @include s.responsive_layout('macBookAir') {
      gap: 20px;

      & .cancel-pop-up {
        & .container {
          & > img {
            margin-bottom: 25px;
          }

          & > div {
            padding: 0 45px;
          }
        }
      }
    }
  }
}
