@use 'base' as s;

app-pop-up-generic {
  ::ng-deep .modal {
    background: none;
    & > .modal-content {
      transition: none;
    }
  }

  #pop-up-new-contact {
    @include s.flexColumn;
    flex: 1;
    height: 100%;
    padding: 0 108px;
    row-gap: 24px;

    & > img {
      height: 57.5px;
      margin-top: 37px;
    }

    & > .content {
      margin-top: 30px;

      & > .info {
        @include s.flexColumn;
        gap: 30px;

        & > label {
          @include s.responsive-font-format($font-size-map: s.$responsive-font-20-20, $font-family: s.$font-family_roboto);
          text-align: center;

          & > span {
            @include s.responsive-font-format(
              $color: s.$pqGreen,
              $font-size-map: s.$responsive-font-20-20,
              $font-family: s.$font-family_roboto
            );
          }
        }
      }
    }
  }
}
