@use 'base' as s;

* {
  box-sizing: border-box;
}

#contacts-customs-agents {
  @include s.flexRowWrap;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  width: 100%;

  & * {
    cursor: pointer;
  }

  &.disabled {
    cursor: none;
    pointer-events: none;
  }

  & > .contact {
    @include s.flexRow;
    flex: 1 1 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px 22px 15px 22px;
    position: relative;

    &:hover {
      & > .contactImg {
        & > img:nth-of-type(1) {
          display: none;
        }

        & > img:nth-of-type(2) {
          display: block;
        }
      }
    }

    & > .iconAdd {
      @include s.flexRow;
      height: 70px;

      & > img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    & > .contactImg {
      @include s.flexRow;
      @include s.absoluteCenter;
      align-items: flex-start;
      flex: 0 0 50px;

      & > img {
        animation: animateZoom 0.2s;
        height: 50px;
      }

      & > img:nth-of-type(1) {
        display: block;
      }

      & > img:nth-of-type(2) {
        display: none;
      }
    }

    & > .infoGeneral {
      @include s.flexColumn;
      align-self: center;
      box-sizing: border-box;
      flex: 1 1 auto;
      height: 100%;
      overflow: hidden;
      padding-left: 12px;

      & > label:nth-of-type(1) {
        @include s.multiLineTextTruncateSinHeight(1, 1.2em);
        @include s.responsive-font-format(
          $color: s.$main-proquifa,
          $font-family: s.$font-family_roboto_bold,
          $font-size-map: s.$responsive-font-14-14,
          $font-weight: s.$font-weight_bold
        );
        margin-bottom: 5px;
      }

      & > label:nth-of-type(2) {
        @include s.multiLineTextTruncateSinHeight(1, normal, rgba(255, 255, 255, 1), rgba(25, 255, 255, 0));
        @include s.responsive-font-format(
          $color: s.$dark-proquifa,
          $font-family: s.$font-family_roboto_bold,
          $font-size-map: s.$responsive-font-13-13,
          $font-weight: s.$font-weight_bold
        );
        word-break: break-all;
        margin-bottom: 5px;
      }

      & > label:nth-of-type(3) {
        @include s.multiLineTextTruncateSinHeight(1, normal, rgba(255, 255, 255, 1), rgba(25, 255, 255, 0));
        @include s.responsive-font-format(
          $color: s.$main-proquifa,
          $font-family: s.$font-family_roboto_regular,
          $font-size-map: s.$responsive-font-12-b-12-b
        );
        word-break: break-all;
        margin-bottom: 5px;
      }

      & > label:nth-of-type(4) {
        @include s.responsive-font-format(
          $color: s.$dark-proquifa,
          $font-family: s.$font-family_roboto_regular,
          $font-size-map: s.$responsive-font-12-b-12-b
        );
        @include s.multiLineTextTruncateSinHeight(1, normal, rgba(255, 255, 255, 1), rgba(25, 255, 255, 0));
        word-break: break-all;
        margin-bottom: 7px;
      }

      & > div {
        @include s.flexRow;
        @include s.absoluteCenter;
        height: 17px;
        justify-content: flex-end;

        & > img {
          @include s.imageIconResponsiveSize;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    & > .infoGeneral {
      padding-left: 14px;

      & > div {
        height: 20px;
      }
    }

    & > .rightSeparator {
      @include s.flexRow;
      width: 1px;
      height: 100%;
      background: linear-gradient(to top, #ffffff 2%, #bcbcbc 72%, #ffffff 95%) 100%;
      position: absolute;
      right: 0;
      top: 0;
    }

    & > .downSeparator {
      @include s.flexRow;
      width: 100%;
      height: 1.5px;
      background: linear-gradient(to left, #ffffff 2%, #bcbcbc 72%, #ffffff 95%) 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    @include s.responsive_layout('macBookAir') {
      padding: 20px 22px 15px 22px;

      & > .iconAdd {
        height: 80px;
      }
      & > .contactImg {
        flex: 0 0 60px;
      }
    }
  }
}
