@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  @include s.absolute100;

  #product-to-claim-details {
    @include s.absolute100;

    & > .container {
      @include s.absolute100;
      @include s.flexColumn;
      padding: 0 20px 20px 20px;

      & > .header-container {
        @include s.flexColumn;
        border-bottom: 1px solid s.$pqBlack2;

        & > .header {
          @include s.flexRow;
          flex: 0 0 auto;
          padding: 15px 0;

          & > div {
            margin-right: 25px;
          }

          & > div:last-of-type {
            margin-right: 0;
          }

          & > .client-container {
            @include s.flexColumn;
            flex: 0 1 300px;

            & > .client-title {
              @include s.flexRowNoWrap;
              justify-content: flex-start;
              margin-bottom: 10px;

              & > label {
                @include s.escaledFontFormat(s.$textSize15to21, bold, s.$pqBlack2);
                @include s.Novecento-Bold;
              }
            }

            & > .client {
              @include s.flexRowNoWrap;

              & > div:nth-of-type(1) {
                @include s.flexColumn;
                @include s.absoluteCenter;
                flex: 0 0 122px;
                height: 70px;
                padding-right: 18px;

                & > img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }

              & > .client-info {
                @include s.flexColumn;
                flex: 1;
                justify-content: center;

                & > div {
                  @include s.multiLineTextTruncateSinHeight($lineHeight: 1.1em);
                  margin-bottom: 4px;
                  max-width: 240px;

                  & > label {
                    @include s.escaledFontFormat(s.$textSize16to21, bold, s.$pqGreen);
                    @include s.Roboto-Bold;
                  }
                }

                & > label {
                  @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                  @include s.Roboto-Regular;
                }
              }
            }
          }

          & > .contact-data {
            @include s.flexColumn;
            flex: 1 1 auto;

            & > .title {
              @include s.flexColumn;
              margin-bottom: 12px;

              & > label {
                @include s.escaledFontFormat(s.$textSize17to21, bold, s.$pqGreen);
                @include s.Roboto-Bold;
              }
            }

            & > .data {
              @include s.flexRow;

              & > div {
                @include s.flexColumn;
                margin-right: 50px;

                &:last-of-type {
                  margin-right: 0;
                }

                & > .row {
                  @include s.flexRowNoWrap;
                  align-items: center;
                  height: 23px;
                  margin-bottom: 5px;

                  & > .image {
                    @include s.absoluteCenter;
                    @include s.flexColumn;
                    height: 18px;
                    margin-right: 5px;
                    width: 18px;

                    & > img {
                      max-height: 100%;
                      max-width: 100%;
                    }
                  }

                  & > label {
                    @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                    @include s.Roboto-Regular;
                    white-space: pre-wrap;

                    &.bold {
                      @include s.Roboto-Bold;
                    }

                    &.green {
                      @include s.escaledFontFormat(s.$textSize14to18, bold, s.$pqGreen2);
                      @include s.Roboto-Bold;
                    }
                  }
                }
              }
            }
          }
        }
      }

      & > .body {
        @include s.flexRow;
        flex: 1 1 auto;
        overflow: hidden;
        padding: 20px 0 0 0;

        & > .left {
          @include s.flexColumn;
          flex: 0 0 520px;
          overflow: hidden;

          & > .list {
            @include s.flexColumn;
            border-right: 1px solid s.$pqGray;
            flex: 1;
            padding-right: 20px;

            & > .header-list {
              border-bottom: 1px solid s.$pqBlack2;

              & > label {
                @include s.Novecento-Bold;
                @include s.escaledFontFormat(s.$textSize17to24, bold, s.$pqBlack2);
              }

              & > .filters {
                @include s.flexRow;
                align-items: center;
                padding: 20px 0;

                & > .hamburger {
                  @include s.flexRow;
                  padding-right: 15px;
                }

                & > .search {
                  @include s.flexRow;
                  flex: 1;
                }
              }
            }

            & > .body-list {
              @include s.flexColumn;
              flex: 1;

              & > .item {
                @include s.flexRow;
                border-bottom: 1px solid s.$pqGray2;

                &.selected {
                  background-color: s.$pqGray2;
                }

                &:hover {
                  background-color: s.$pqGray2;
                }

                & * {
                  cursor: pointer;
                }

                & > .indicator {
                  flex: 0 0 5px;
                  background-color: s.$pqGreen;
                  @include s.responsive_layout('macBookAir') {
                    flex: 0 0 7px;
                  }
                }

                & > .item-content {
                  @include s.flexColumn;
                  flex: 1;
                  overflow: hidden;
                  padding: 10px 20px;

                  & > .index {
                    @include s.flexRow;
                    padding-bottom: 3px;

                    & > label {
                      @include s.Roboto-Bold;
                      @include s.escaledFontFormat(s.$textSize15to20, bold, s.$pqBlack2);
                      @include s.multiLineTextTruncateSinHeight(2, normal, rgba(255, 255, 255, 1), rgba(25, 255, 255, 0));
                      align-items: center;
                      //white-space: pre;
                      & > span {
                        color: s.$pqGreen;
                        vertical-align: baseline;
                      }
                    }
                  }

                  & > .date {
                    @include s.flexRow;
                    padding-bottom: 3px;

                    & > label {
                      @include s.Roboto-Regular;
                      @include s.escaledFontFormat(s.$textSize14to18, regular, s.$pqBlack2);
                    }
                  }

                  & > .place {
                    @include s.flexRow;
                    padding-bottom: 3px;

                    & > label {
                      @include s.Roboto-Regular;
                      @include s.escaledFontFormat(s.$textSize14to18, regular, s.$pqTextGris);
                    }
                  }

                  & > .oc {
                    @include s.flexRow;

                    & > label {
                      @include s.Roboto-Regular;
                      @include s.escaledFontFormat(s.$textSize14to18, regular, s.$pqBlack2);
                    }
                  }
                }
              }
            }
          }

          & > .footer-list {
            @include s.flexRow;
            border-top: 1px solid s.$pqBlack2;
            margin-right: 20px;
            justify-content: center;

            & > div {
              @include s.flexRow;
              flex: 1;
              justify-content: space-around;
              padding-top: 5px;

              & > label {
                @include s.Roboto-Regular;
                @include s.escaledFontFormat(s.$textSize12to14, regular, s.$pqBlack2);
              }
            }
          }
        }

        & > .right {
          @include s.flexColumn;
          flex: 1;
          overflow: hidden;

          & > .header {
            padding: 0 20px;

            & > div {
              @include s.flexRow;
              border-bottom: 1px solid s.$pqBlack2;
              padding-bottom: 15px;

              & > label {
                @include s.Novecento-Bold;
                @include s.escaledFontFormat(s.$textSize17to24, bold, s.$pqBlack2);

                & > span {
                  color: s.$pqGreen;
                }
              }
            }
          }

          & > .content {
            @include s.flexColumn;
            flex: 1;
            overflow-y: auto;
            padding: 0 0 20px 20px;

            & > .top {
              @include s.flexColumn;
              padding-bottom: 10px;

              & > .content1 {
                @include s.flexRow;
                padding: 15px 0;

                & > .left {
                  @include s.flexColumn;
                  flex: 1;

                  & > label {
                    @include s.Roboto-Bold;
                    @include s.escaledFontFormat(s.$textSize13to16, bold, s.$pqGreen);
                    padding-bottom: 5px;
                  }

                  & > div {
                    @include s.flexRow;

                    & > div {
                      @include s.flexColumn;
                      padding-right: 20%;

                      & > label {
                        @include s.Roboto-Bold;
                        @include s.escaledFontFormat(s.$textSize13to16, bold, s.$pqBlack2);
                        padding-bottom: 3px;
                      }

                      & > span {
                        @include s.Roboto-Regular;
                        @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                      }
                    }
                  }
                }

                & > .right {
                  @include s.flexColumn;
                  flex: 1;

                  & > label {
                    @include s.Roboto-Bold;
                    @include s.escaledFontFormat(s.$textSize13to16, bold, s.$pqGreen);
                    padding-bottom: 5px;
                  }

                  & > div {
                    @include s.flexColumn;

                    & > label {
                      @include s.Roboto-Bold;
                      @include s.escaledFontFormat(s.$textSize13to16, bold, s.$pqBlack2);
                      padding-bottom: 3px;
                    }

                    & > span {
                      @include s.Roboto-Regular;
                      @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                    }
                  }
                }
              }

              & > .content2 {
                @include s.flexRow;
                padding: 5px 0 10px 0;

                & > .left {
                  @include s.flexColumn;
                  flex: 1;

                  & > label {
                    @include s.Roboto-Bold;
                    @include s.escaledFontFormat(s.$textSize13to16, Bold, s.$pqBlack2);
                    padding-bottom: 3px;
                  }

                  & > span {
                    @include s.Roboto-Regular;
                    @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                  }
                }

                & > .right {
                  @include s.flexColumn;
                  flex: 1;

                  & > label {
                    @include s.Roboto-Bold;
                    @include s.escaledFontFormat(s.$textSize13to16, bold, s.$pqGreen);
                    padding-bottom: 3px;
                  }

                  & > span {
                    @include s.Roboto-Regular;
                    @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                  }
                }
              }
            }

            & > .mid {
              @include s.flexColumn;
              flex: 1;

              & > label {
                @include s.Roboto-Bold;
                @include s.escaledFontFormat(s.$textSize14to20, bold, s.$pqBlack2);
                padding-bottom: 3px;
              }

              & > .pink {
                @include s.flexRow;
                align-items: center;
                height: 45px;
                background-color: s.$redBackground;
                padding: 0 20px;

                & > label {
                  @include s.Roboto-Regular;
                  @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                }
              }

              & > .gray {
                @include s.flexColumn;
                flex: 1;
                padding-top: 10px;

                & > .gray-content {
                  @include s.flexColumn;
                  background-color: s.$pqGray2;
                  flex: 1;

                  & > .text {
                    @include s.flexRow;
                    justify-content: space-around;
                    padding-top: 10px;

                    & > div {
                      @include s.flexRow;
                      justify-content: space-between;
                      width: 400px;

                      & > label {
                        @include s.Roboto-Regular;
                        @include s.escaledFontFormat(s.$textSize14to20, regular, s.$pqGreen);
                        cursor: pointer;

                        &:hover {
                          text-decoration: underline;
                        }

                        &.bold {
                          @include s.Roboto-Bold;
                          text-decoration: underline;
                        }
                      }
                    }
                  }

                  & > .image {
                    @include s.flexColumn;
                    @include s.absoluteCenter;
                    flex: 1 0 260px;
                    overflow: hidden;
                    padding: 20px 0;

                    & > img {
                      flex: 1;
                      min-height: 260px;
                    }
                  }
                }
              }

              & > .aqua {
                @include s.flexColumn;
                padding-top: 10px;

                & > label {
                  @include s.Roboto-Bold;
                  @include s.escaledFontFormat(s.$textSize14to20, bold, s.$pqGreen);
                  padding-bottom: 10px;
                }

                & > .aquaColor {
                  @include s.flexRow;
                  height: 45px;
                  background-color: rgba(s.$pqGreen, 0.12);
                  align-items: center;

                  & > label {
                    @include s.Roboto-Regular;
                    @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                    padding-left: 20px;
                  }
                }
              }

              & > .claimRequest {
                @include s.flexRow;
                padding-top: 20px;
                justify-content: space-between;

                & > .txtArea {
                  @include s.flexColumn;
                  flex: 0 1 80%;

                  & > label {
                    @include s.Roboto-Bold;
                    @include s.escaledFontFormat(s.$textSize13to16, bold, s.$pqBlack2);
                  }
                }

                & > .rButtons {
                  @include s.flexColumn;
                  align-items: flex-start;
                  flex: 1;
                  padding-left: 40px;

                  & > label {
                    @include s.Roboto-Bold;
                    @include s.escaledFontFormat(s.$textSize13to16, bold, s.$pqBlack2);
                  }

                  & > div {
                    padding: 10px 0;
                  }
                }
              }
            }
          }
        }
      }

      & > .footer {
        @include s.flexRow;
        justify-content: flex-end;
        padding-top: 20px;

        & > button {
          @include s.pqButton();
        }
      }
    }

    & > footer {
      @include s.flexRow;
      @include s.absoluteCenter;
      border-top: 2px solid s.$pqBlack2;
      height: 50px;

      & > div {
        @include s.flexRow;

        & > label {
          @include s.Roboto-Regular;
          @include s.escaledFontFormat(s.$textSize13to14, regular, s.$pqBlack2);
          padding-right: 20px;

          & > span {
            @include s.Roboto-Bold;
            vertical-align: baseline;
          }
        }
      }
    }
  }

  @include s.responsive_layout('macBookAir') {
    #product-to-claim-details {
      & > .container {
        & > .header {
          & > div {
            padding-bottom: 20px;
          }

          & > .content1 {
            padding: 20px 0;

            & > .contact {
              & > img {
                max-height: 20px;
              }
            }

            & > .mail {
              & > img {
                height: 15px;
              }
            }

            & > .phone {
              & > img {
                height: 20px;
              }
            }
          }
        }

        & > .body {
          & > .left {
            flex: 0 0 580px;
          }

          & > .right {
            & > .content {
              & > .mid {
                & > .gray {
                  & > .gray-content {
                    & > .image {
                      & > img {
                        min-height: 225px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      & > footer {
        height: 55px;
      }
    }
  }
}
