@use 'base' as s;

:host {
  @include s.generic-main-component-structure;

  #change-notices-container {
    & > .footer {
      & > div {
        & > label {
          @include s.Roboto-Regular;
          @include s.escaledFontFormat(s.$textSize12to14, regular, s.$pqBlack2);
        }

        & > img:nth-of-type(1) {
          width: auto;
          height: 19px;
          margin-right: 5px;
        }
      }
    }
  }
}
