<div class="container">
  <h4>{{ 'formProvider.step8.subtitles.titleIndicators' | translate }}</h4>
  <div class="input-container">
    <div class="item">
      <label>{{ 'formProvider.step8.indicators.costTotals' | translate }}</label>
      <label class="result">N/D</label>
    </div>
    <div class="item">
      <label>{{ 'formProvider.step8.indicators.utilitiesCash' | translate }} </label>
      <label class="result">N/D</label>
    </div>
    <div class="item">
      <label>{{ 'formProvider.step8.indicators.utilitiesPercentage' | translate }}</label>
      <label class="result">N/D</label>
    </div>
    <div class="item">
      <label>{{ 'formProvider.step8.indicators.performanceCost' | translate }}</label>
      <label class="result">N/D</label>
    </div>
    <div class="item">
      <label>{{ 'formProvider.step8.indicators.utilitiesPriceList' | translate }}</label>
      <label class="result">N/D</label>
    </div>
    <div class="item">
      <label>{{ 'formProvider.step8.indicators.priceList' | translate }}</label>
      <label class="result">N/D</label>
    </div>
  </div>
</div>
