@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  display: contents;
  & > img {
    cursor: pointer;
  }
  & > .observations-message-tooltip {
    position: absolute;
    & > .floating-container {
      left: -15px;
      position: relative;

      & > label {
        @include s.responsive-font-format(
          $color: s.$dark-proquifa,
          $font-family: s.$font_family_roboto_bold,
          $font-size-map: s.$responsive-font-13-13,
          $font-weight: s.$font-weight_bold
        );
        cursor: pointer;
        text-decoration: underline;
      }
      & .underline {
        text-decoration: underline;
        cursor: pointer;
      }
      & > .observations-floating {
        @include s.flexColumn;
        background-color: s.$pqWhite;
        border: 1px solid s.$boxShadow;
        gap: 12px;
        height: 146px;
        left: 50%;
        padding: 16px 30px 20px 30px;
        position: absolute;
        top: calc(-100% + -172px);
        transform: translateX(-50%);
        width: 322px;
        z-index: 1;
        &::before {
          border-color: s.$boxShadow transparent;
          border-style: solid;
          border-width: 15px 15px 0;
          content: '';
          display: block;
          left: 172px;
          position: absolute;
          top: 100%;
          width: 0;
          z-index: 0;
        }
        &::after {
          border-color: s.$dark-proquifa-f transparent;
          border-style: solid;
          border-width: 14px 14px 0;
          bottom: -13.5px;
          content: '';
          display: block;
          height: 0;
          left: 173px;
          position: absolute;
          width: 0;
          z-index: 1;
        }
        & > .title {
          @include s.responsive-font-format(
            $color: s.$pqBlack2,
            $font-family: s.$font-family_roboto_bold,
            $font-size-map: s.$responsive-font-15-15,
            $font-weight: s.$font-weight_bold
          );
          text-align: center;
        }
        & > .content {
          overflow: auto;
          & > .info {
            @include s.responsive-font-format(
              $color: s.$pqBlack2,
              $font-family: s.$font-family_roboto,
              $font-size-map: s.$responsive-font-15-15
            );
            cursor: pointer;
            text-align: justify;
          }
        }
      }
    }
  }
}
