@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  @include s.absolute100();

  #list-quotes-container {
    @include s.flexColumn();
    @include s.absolute100();
    flex: 1;
    padding: 18px 0 0 0;

    & > .title {
      @include s.flexRowNoWrap();
      padding: 0 20px;

      & > .quotation-number {
        @include s.flexRowNoWrap;
        @include s.responsive-font-format(
          $font-family: s.$font_family_novecento_bold,
          $font-size-map: s.$responsive-font-17-21
        );
        align-items: center;
        white-space: pre-wrap;

        & > img {
          @include s.imageIconResponsiveSize;
        }

        & > label {
          @include s.responsive-font-format(
            $font-family: s.$font_family_novecento_bold,
            $font-size-map: s.$responsive-font-14-16
          );
        }

        & > label.new {
          color: s.$pqGreen2;
        }

        & > label.saved {
          color: s.$pqOrange;
        }

        & > label.sent {
          color: s.$pqBlue;
        }
      }
    }

    & > .list {
      width: 100%;
      padding: 15px 0 11px 0;
    }

    & > .add-products {
      @include s.flexRowNoWrap;
      align-items: center;
      border-bottom: 1px solid s.$pqBlack2;
      justify-content: space-between;
      margin-left: 20px;
      padding-bottom: 7px;

      & > label {
        @include s.responsive-font-format(
          $font-family: s.$font_family_novecento_bold,
          $font-size-map: s.$responsive-font-17-21
        );
        white-space: pre-wrap;

        & > label {
          @include s.responsive-font-format(
            $font-family: s.$font_family_novecento_bold,
            $font-size-map: s.$responsive-font-17-21
          );
          vertical-align: baseline;
          white-space: pre-wrap;
        }

        & > .ocean {
          color: s.$pqGreen;
        }

        & > .ocean-save {
          color: s.$pqGreen;

          & > span {
            color: s.$pqGreen;
            vertical-align: baseline;
            cursor: pointer;
            text-decoration: underline;
          }
        }

        & > .new {
          color: s.$pqGreen2;
        }

        & > .saved {
          color: s.$pqOrange;
        }

        & > .sent {
          color: s.$pqBlue;
        }
      }

      & > button {
        $max-width-map: (
          'base': 235px,
          'macBookAir': 315px,
        );
        @include s.pqfDisableButton($max-width-map: $max-width-map, $background-color: s.$dark-proquifa-d);

        &.active {
          @include s.pqfButton($max-width-map: $max-width-map, $background-color: s.$pqGreen2);
        }

        & > img {
          margin: -1px 5px 0 0;
          height: 15px;
        }
      }
    }

    & > .products-manager {
      width: 100%;
      flex: 1;
      overflow: hidden;
    }

    & > .saved-quotation-items {
      width: 100%;
      flex: 1;
      overflow: hidden;
    }
  }
}
