@use 'base' as s;

:host {
  @include s.generic-main-component-structure;

  #register-confirmation-container {
    & .footer {
      & > div {
        & > div {
          border-radius: 50%;
          width: 15px;
          height: 15px;
          margin-right: 6px;
        }

        & > .label-dark {
          @include s.escaledFontFormat(s.$textSize12to14, bold, s.$pqBlack);
          @include s.Roboto-Bold;
          padding-right: 3px;
        }

        & > label {
          @include s.escaledFontFormat(s.$textSize12to14, normal, s.$pqBlack2);
          @include s.Roboto-Regular;
        }

        & > img:nth-of-type(1) {
          width: auto;
          height: 19px;
          margin-right: 5px;
        }
      }
    }
  }
}
