<div class="container">
  <div class="stars-inactivates">
    <div class="container-img">
      <img
        alt=""
        src="assets/Images/strategy/star-inactive.svg"
        [style.width.px]="sizeImgStar"
        [style.height.px]="sizeImgStar"
      />
    </div>
    <div class="container-img">
      <img
        alt=""
        src="assets/Images/strategy/star-inactive.svg"
        [style.width.px]="sizeImgStar"
        [style.height.px]="sizeImgStar"
      />
    </div>
    <div class="container-img">
      <img
        alt=""
        src="assets/Images/strategy/star-inactive.svg"
        [style.width.px]="sizeImgStar"
        [style.height.px]="sizeImgStar"
      />
    </div>
    <div class="container-img">
      <img
        alt=""
        src="assets/Images/strategy/star-inactive.svg"
        [style.width.px]="sizeImgStar"
        [style.height.px]="sizeImgStar"
      />
    </div>
    <div class="container-img">
      <img
        alt=""
        src="assets/Images/strategy/star-inactive.svg"
        [style.width.px]="sizeImgStar"
        [style.height.px]="sizeImgStar"
      />
    </div>
  </div>
  <div class="stars-actives">
    <div class="container-img" [style.width.px]="starOne">
      <img alt="" src="assets/Images/strategy/star-active.svg" [style.width.px]="sizeImgStar" [style.height.px]="sizeImgStar" />
    </div>
    <div class="container-img" [style.width.px]="starTwo">
      <img alt="" src="assets/Images/strategy/star-active.svg" [style.width.px]="sizeImgStar" [style.height.px]="sizeImgStar" />
    </div>
    <div class="container-img" [style.width.px]="starThree">
      <img alt="" src="assets/Images/strategy/star-active.svg" [style.width.px]="sizeImgStar" [style.height.px]="sizeImgStar" />
    </div>
    <div class="container-img" [style.width.px]="starFour">
      <img alt="" src="assets/Images/strategy/star-active.svg" [style.width.px]="sizeImgStar" [style.height.px]="sizeImgStar" />
    </div>
    <div class="container-img" [style.width.px]="starFive">
      <img alt="" src="assets/Images/strategy/star-active.svg" [style.width.px]="sizeImgStar" [style.height.px]="sizeImgStar" />
    </div>
  </div>
</div>
