@use 'base' as s;

:host {
  width: 100%;
  height: 100%;

  & > .container {
    @include s.flexColumn;
    width: 100%;
    position: relative;

    & > .stars-inactivates {
      @include s.flexRowNoWrap;

      & > .container-img {
        margin-right: 5px;
      }
    }

    & > .stars-actives {
      @include s.flexRowNoWrap;
      position: absolute;

      & > .container-img {
        overflow: hidden;
        margin-right: 5px;
      }
    }
  }

  @include s.responsive_layout('macBookAir') {
    & > .container {
    }
  }
}
