@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  $left-container-flex: (
    'base': 580px,
    'macBookAir': 680px,
  );
  $graphics-padding: (
    'base': 10px 60px,
    'macBookAir': 30px 40px,
  );
  $graphics-structure: (
    'top': 1,
    'bottom': 1,
  );
  $graphics-gap: (
    'base': 25px 0,
    'macBookAir': 40px 0,
  );

  @include s.pending-dashboard-structure($left-container-flex, $graphics-padding, $graphics-structure, $graphics-gap);

  #control-supplier-claim-list {
    & > .left-container {
      & > .filters {
        & > div:nth-of-type(1) {
          width: 40%;
        }

        & > div:nth-of-type(2) {
          width: 60%;
        }

        & > div {
          @include s.flexRow;
          align-items: center;
          justify-content: center;
          width: 50%;
        }
      }

      & > .list-container {
        & > virtual-scroller {
          height: 100%;
          width: 100%;

          .provider {
            @include s.flexRowNoWrap;
            //height: 120px;
            border-bottom: 1px solid s.$pqGray2;
            box-sizing: border-box;
            padding: 10px 0;
            width: 100%;

            &:hover {
              background-color: s.$pqGray2;
            }

            & * {
              cursor: pointer;
            }

            & > .index {
              @include s.absoluteTop;
              @include s.flexRowNoWrap;
              box-sizing: border-box;
              flex: 0 0 70px;
              justify-content: flex-start;
              padding-left: 10px;

              & > label {
                @include s.Roboto-Regular;
                @include s.escaledFontFormat(s.$textSize20to28, '', s.$pqBlack2);
                margin-top: 2px;
              }
            }

            & > .details {
              @include s.absoluteTop;
              @include s.flexRowWrap;
              padding-left: 5px;
              width: calc(100% - 95px);

              & > div {
                @include s.flexRowNoWrap;
                margin-bottom: 5px;
                width: 100%;
              }

              & > .name {
                & > label:nth-of-type(1) {
                  @include s.Roboto-Bold;
                  @include s.escaledFontFormat(s.$textSize21to28, bold, s.$pqGreen);
                }
              }

              & > .amount {
                & > label {
                  @include s.Roboto-Bold;
                  @include s.escaledFontFormat(s.$textSize17to24, '', s.$pqBlack2);
                }
              }

              & > .oc {
                & > label {
                  @include s.Roboto-Regular;
                  @include s.escaledFontFormat(s.$textSize16to19, '', s.$pqBlack2);
                }
              }

              & .status {
                @include s.absoluteCenter;
                @include s.flexRowNoWrap;
                justify-content: flex-start;
                width: 100%;

                & > img {
                  @include s.imageLabel;
                  margin-right: 8px;
                }

                & > label {
                  @include s.Roboto-Regular;
                  @include s.escaledFontFormat(s.$textSize14to19, normal, s.$pqTextAlert);
                  margin-right: 8px;
                }

                & > .urgent {
                  color: s.$urgent;
                }

                & > .in-time {
                  color: s.$pqGreen2;
                }
              }
            }

            & > .row {
              @include s.right-arrow-in-item-list;
            }
          }
        }
      }

      & > .footer {
        @include s.flexRow;
        border-top: 1px solid s.$pqBlack2;
        justify-content: space-between;

        & > label {
          @include s.Roboto-Regular;
          @include s.escaledFontFormat(s.$textSize12to14, regular, s.$pqBlack2);
          @include s.flexRow;
        }
      }
    }

    & > .right-container {
      & > app-doughnut-chart {
        grid-column-end: span 2;
        overflow: hidden;
      }

      & > app-bar-chart {
        overflow: hidden;
      }

      & > .loading {
        grid-area: 2/1/2/2;
      }
    }
  }
}
