@use 'base' as s;

* {
  box-sizing: border-box;
}

.header {
  @include s.flexRow;
  height: 122px;

  & > .image {
    width: 190px;
    @include s.flexColumn;
    @include s.absoluteCenter;
    padding: 15px;

    & > img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  & > .client-data {
    @include s.flexColumn;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

    & > label {
      margin-bottom: 3px;
    }

    & > label:nth-child(1) {
      @include s.escaledFontFormat(s.$textSize20to24, bold, s.$pqGreen);
      @include s.Novecento-Bold;
    }

    & > label:nth-child(2) {
      @include s.escaledFontFormat(s.$textSize16to20, regular, s.$pqGreen);
      @include s.Roboto-Regular;
    }

    & > label:nth-child(3) {
      @include s.escaledFontFormat(s.$textSize16to19, regular, s.$pqBlack2);
      @include s.Roboto-Regular;
      margin-bottom: 0;
    }
  }
}
