@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  & > .import {
    @include s.flexColumn;
    align-items: center;

    & > h4 {
      @include s.escaledFontFormat(s.$textSize12to14, bold, s.$pqGreen);
      @include s.Novecento-Bold;
      margin-bottom: 12px;
    }

    & > .grid {
      display: grid;
      grid-template-columns: repeat(3, 143px);
      grid-gap: 20px 30px;

      & > .input-container {
        @include s.flexRow;
        align-items: center;
        flex-wrap: nowrap;

        & > .input {
          margin: 0 7px;
          flex: 0 0 90px;
        }

        & label {
          @include s.escaledFontFormat(s.$textSize12to14, bold, s.$pqBlack2);
          @include s.Roboto-Bold;
          white-space: pre;
        }

        & span {
          @include s.escaledFontFormat(s.$textSize12to14, regular, s.$pqBlack2);
          @include s.Roboto-Regular;
        }
      }
    }

    @include s.responsive_layout('macBookAir') {
      & > .grid {
        grid-template-columns: repeat(3, 164px);

        & > .input-container {
          & > .input {
            margin: 0 9px;
            flex: 0 0 100px;
          }
        }
      }
    }
  }
}
