<div class="component-container" id="product-to-claim-container">
  <div class="header">
    <app-header-bar [title]="title$ | async" [activeBack]="detailsMode$ | async" (goBack)="returnMainPage()"></app-header-bar>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" *ngIf="!(detailsMode$ | async)">
    <ng-container>
      <div>
        <label *ngIf="!(detailsMode$ | async)"><span>OC: </span>{{ 'processPurchase.purchaseOrder' | translate }} </label>
        <label *ngIf="detailsMode$ | async"><span>OC: </span>{{ 'common.purchaseOrder' | translate }}</label>
        <label *ngIf="detailsMode$ | async"><span>FEE: </span>{{ 'confirmDispatch.estimatedDelivery' | translate }} </label>
        <label *ngIf="detailsMode$ | async"
          ><span>DRE: </span>{{ 'quarantineManager.remainingDaysOfDelivery' | translate }}</label
        >
      </div>
    </ng-container>
  </div>
</div>
