@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  width: 100%;
  & > .cancel-reason-container {
    @include s.flexRow;
    align-items: center;
    column-gap: 32px;
    width: 100%;
    & > .cancel-container {
      @include s.flexRow;
      width: 150px;
      justify-content: flex-start;
      & > label {
        @include s.responsive-font-format(
          $font-family: s.$font_family_roboto_regular,
          $font-weight: s.$font_weight_regular,
          $font-size-map: s.$responsive-font-12-12,
          $color: s.$alert-c
        );
      }
    }
    & > .img-container {
      @include s.flexRow;
      @include s.absoluteCenter;
      width: 24px;
      height: 24px;
      & > img {
        width: 22px;
        height: 19px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
