@use 'base' as s;

:host {
  @include s.absolute100;

  * {
    box-sizing: border-box;
  }

  #warehouse-dashboard {
    @include s.absolute100;
    @include s.flexColumn;
    overflow: hidden;
    padding: 0 20px;

    & > .graph-container {
      @include s.flexColumn;
      flex: 1 1 auto;
      overflow: hidden;

      & > .tabs-container {
        box-sizing: content-box;
        flex: 0 0 50px;
        position: relative;
      }

      & > .chart {
        @include s.flexRow;
        flex: 1 1 auto;
        overflow: hidden;
      }

      & > .button {
        @include s.flexRow;
        justify-content: flex-end;
        flex: 0 0 50px;
        padding: 20px;

        & > button {
          @include s.pqButton();
        }
      }
    }
  }
}
