<div class="generic-grid-item" (click)="emitResponse()">
  <div class="agent">
    <div class="status">
      <div class="indicator">
        <div [ngClass]="!showActiveIndicator ? 'none' : item?.active ? 'enable' : 'disable'"></div>
        <label [ngClass]="!showActiveIndicator ? 'none' : item?.active ? 'enable-text' : 'disable-text'">{{
          item?.active ? ('customsAgents.enable' | translate) : ('customsAgents.disable' | translate)
        }}</label>
      </div>
      <img *ngIf="showRightImage" alt="" [src]="rightImageSource" (click)="handleRightImageClick($event)" />
      <img *ngIf="showRightImage" alt="" [src]="hoverRightImageSource" (click)="handleRightImageClick($event)" />
    </div>
    <div class="centerPagination">
      <img #imageElement alt="{{ 'logo ' + item?.title }}" [src]="item?.image" (error)="errorImgHandler()" />
      <img #imageElementHover alt="{{ 'logo ' + item?.title }}" [src]="item?.imageHover" (error)="errorImgHandlerHover()" />
    </div>
    <div class="footContent">
      <span>{{ item?.title }}</span>
      <div class="segmentation" *ngIf="showSegmentation">
        <label>{{ 'formClient.step1.segmentation' | translate }}:</label>
        <img
          [alt]="item?.nivelIngreso"
          [src]="
            item?.nivelIngreso
              ? 'assets/Images/clientes/niveles-ingreso/' + incomeLevelHelper(item?.nivelIngreso) + '.svg'
              : 'assets/Images/clientes/niveles-ingreso/bajo.svg'
          "
        />
        <img
          [alt]="item?.categoria"
          [src]="
            item?.categoria
              ? 'assets/Images/clientes/categorias/' + lodashToLower(item?.categoria) + '.svg'
              : 'assets/Images/clientes/categorias/rest.svg'
          "
        />
      </div>
    </div>
    <div class="rightSeparator"></div>
    <div class="downSeparator"></div>
  </div>
</div>
