<div class="logistics-times-container">
  <label class="title">{{ 'formProvider.step8.subtitles.timeInDays' | translate }}</label>
  <div class="logistics-times">
    <label class="title">Pedido a compra:</label>
    <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasPedidoACompra || 'N/D' }}</label>
    <label class="title">Compra a Embarque:</label>
    <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasCompraAEmbarque || 'N/D' }}</label>
    <label class="title">Embarque a Arribo:</label>
    <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasEmbarqueAArribo || 'N/D' }}</label>
    <ng-container *ngIf="!isMexican">
      <label class="title">Consolidación Pharma:</label>
      <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasConsolidacionPharma || 'N/D' }}</label>
      <label class="title">Arribo a Importación:</label>
      <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasArriboAImportacion || 'N/D' }}</label>
      <label class="title">Importación a Almacén:</label>
      <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasImportacionAAlmacen || 'N/D' }}</label>
    </ng-container>
    <ng-container *ngIf="isMexican">
      <label class="title">Arribo a Almacén:</label>
      <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasArriboAImportacion || 'N/D' }}</label>
    </ng-container>
    <label class="title">Almacén a Inspección:</label>
    <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasAlmacenAInspeccion || 'N/D' }}</label>
    <label class="title">Inspección a Embalaje:</label>
    <label class="days">{{ actualConfiguration?.configuracionTiemposLogisticos?.DiasInspeccionAEmbalaje || 'N/D' }}</label>
  </div>
  <div class="total-logistic-times">
    <label>
      tiempo logístico:
    </label>
    <label> {{ (selectLogisticTimeTotal$ | async) > 0 ? (selectLogisticTimeTotal$ | async) + ' días' : 'N/D' }}</label>
  </div>
  <div class="total-logistic-times green">
    <label>
      tiempo comercial:
    </label>
    <label> {{ (selectComercialTimeTotal$ | async) > 0 ? (selectComercialTimeTotal$ | async) + ' días' : 'N/D' }}</label>
  </div>
</div>
