<div class="discount-freight-container">
  <label>{{ 'newProductExistingSupplier.purchasingConfiguration.discountAndFreight' | translate }}</label>
  <div class="discount-freight" [ngClass]="{'mexican-provider': isMexican}">
    <div>
      <label>{{ 'newProductExistingSupplier.purchasingConfiguration.freightAd' | translate }}:</label>
      <div class="generic-input-container">
        <pqf-generic-input
          [extraString]="'newProductExistingSupplier.purchasingConfiguration.dollars' | translate"
          [placeholder]="'000'"
          [typeValidation]="inputTypes.DecimalNumber"
          [value]="actualConfiguration?.ConfiguracionPrecioProveedor?.PrecioFleteAD"
          [width]="'100px'"
          (valueChangeEmitter)="handleInputChange(fields.PrecioFleteAD, $event)"
        ></pqf-generic-input>
      </div>
    </div>
    <div>
      <label>{{ 'newProductExistingSupplier.purchasingConfiguration.discount' | translate }}:</label>
      <div class="generic-input-container">
        <pqf-generic-input
          [extraString]="'%'"
          [placeholder]="'000'"
          [typeValidation]="inputTypes.Percentage"
          [value]="actualConfiguration?.ConfiguracionPrecioProveedor?.PorcentajeDescuento"
          [width]="'100px'"
          (valueChangeEmitter)="handleInputChange(fields.PorcentajeDescuento, $event)"
        ></pqf-generic-input>
      </div>
    </div>
    <div *ngIf="!isMexican">
      <label>{{ 'newProductExistingSupplier.purchasingConfiguration.freightPc' | translate }}:</label>
      <div class="generic-input-container">
        <pqf-generic-input
          [placeholder]="'000'"
          [typeValidation]="inputTypes.DecimalNumber"
          [value]="actualConfiguration?.ConfiguracionPrecioProveedor?.PrecioFletePC"
          [width]="'100px'"
          (valueChangeEmitter)="handleInputChange(fields.PrecioFletePC, $event)"
        ></pqf-generic-input>
        <span>{{ 'newProductExistingSupplier.purchasingConfiguration.dollars' | translate }}</span>
      </div>
    </div>
  </div>
</div>
