<div class="component-container" id="plan-dispatch-container">
  <div class="header">
    <app-header-bar [activeBack]="isDetails$ | async" [title]="title$ | async" (goBack)="goBack()"></app-header-bar>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" *ngIf="!(isDetails$ | async)">
    <ng-container>
      <div>
        <label
          ><span>{{ 'OC: ' }}</span
          >{{ 'common.purchaseOrder' | translate }}
        </label>
      </div>
    </ng-container>
  </div>
</div>
