@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  height: 100%;
  width: 100%;

  & > #attend-review-details {
    @include s.flexColumn;
    height: 100%;
    overflow: hidden;
    width: 100%;

    & > .top-container {
      @include s.flexRowNoWrap;
      flex: 1 1 auto;
      overflow: hidden;

      & > .left-container {
        @include s.flexColumn;
        border-right: 1px solid s.$pqGray2;
        flex: 0 0 450px;
        padding: 20px;

        & > .title {
          @include s.escaledFontFormat(s.$textSize17to24, bold, s.$pqBlack2);
          @include s.Novecento-Bold;
          margin-bottom: 10px;
        }

        & > .filters {
          @include s.flexRowNoWrap;
          border-bottom: 1px solid s.$pqBlack2;
          padding-bottom: 17px;

          & > app-hamburger-menu {
            flex: 0 1 auto;
            margin-right: 20px;
            width: max-content;
          }

          & > app-search {
            flex: 1 1 auto;
          }
        }

        & > .list-container {
          @include s.flexColumn;
          flex: 1 1 auto;
          overflow: hidden;

          & > .loading {
            @include s.flexRow;
            @include s.absoluteCenter;
            height: 100%;
          }

          & > virtual-scroller {
            height: 100%;
            width: 100%;

            & .item-oc {
              @include s.flexRowNoWrap;
              @include s.default-transition($duration: 0.2s);
              border-bottom: 1px solid s.$pqGray2;
              cursor: pointer;
              width: 100%;
              overflow: hidden;

              & * {
                cursor: pointer;
              }

              &:hover {
                background-color: s.$pqGray2;
              }

              & > .indicator {
                flex: 0 0 8px;
                min-height: 100%;

                &.selected {
                  background-color: s.$pqGreen;
                }
              }

              & > .info {
                @include s.flexColumn;
                flex: 1 1 auto;
                padding: 20px;

                & > .tooltip {
                  @include s.tooltip(auto, auto, auto, 100px);
                  max-width: max-content;

                  & > label {
                    @include s.escaledFontFormat(s.$textSize15to20, '', s.$pqGreen);
                    @include s.Roboto-Regular;
                    text-decoration: underline;
                    white-space: pre;
                  }

                  & > .tooltip-text {
                    @include s.absoluteCenter;

                    & > p {
                      font-size: 12px;
                      color: s.$pqWhite;
                    }
                  }
                }

                & > label {
                  @include s.escaledFontFormat(s.$textSize15to20, regular, s.$pqBlack2);
                  @include s.Roboto-Regular;
                  margin-bottom: 4px;
                  white-space: pre-wrap;

                  &:first-of-type {
                    margin-bottom: 5px;
                  }

                  &:last-of-type {
                    margin-bottom: 0;
                  }

                  &.bold {
                    @include s.Roboto-Bold;
                  }

                  & > span {
                    color: s.$pqGreen;
                    vertical-align: baseline;
                  }
                }

                & > .dates {
                  @include s.escaledFontFormat(s.$textSize13to18, regular, s.$pqBlack2);
                  @include s.Roboto-Regular;
                  white-space: pre-wrap;

                  & > .gray {
                    color: s.$pqTextGris;
                  }

                  & > .green {
                    color: s.$pqGreen2;
                  }

                  & > .violet {
                    color: s.$purple;
                  }

                  & > .red {
                    color: s.$redExpiredFreight;
                  }

                  & > .yellow {
                    color: s.$yellowWarning;
                  }
                }
              }

              & > .image {
                @include s.flexRow;
                @include s.absoluteCenter;
                flex: 0 0 90px;

                & > img {
                  height: 18px;
                }
              }
            }

            & > ::ng-deep .scrollable-content > .without-results {
              display: flex;
              @include s.absoluteCenter;
              height: 100%;
            }
          }
        }

        & > .totals {
          @include s.flexRowNoWrap;
          border-top: 1px solid s.$pqBlack2;
          flex: 0 0 39px;
          justify-content: space-between;
          padding: 6px 12px 0 15px;

          & > label {
            @include s.escaledFontFormat(s.$textSize12to14, bold, s.$pqBlack2);
            @include s.Roboto-Regular;
          }
        }
      }

      & > .right-container {
        @include s.flexColumn;
        flex: 1 1 auto;
        overflow: hidden;
        padding: 20px 20px 0 20px;

        &.rebillPadding {
          padding: 0 20px;
        }

        & > .title {
          @include s.escaledFontFormat(s.$textSize17to24, bold, s.$pqBlack2);
          @include s.Novecento-Bold;
          flex: 0 0 auto;
          border-bottom: 1px solid s.$pqBlack2;
          padding-bottom: 10px;
          white-space: pre;

          & > .ocean {
            color: s.$pqGreen;
          }

          & > .purple {
            color: s.$purple;
          }

          & > .yellow {
            color: s.$yellowWarning;
          }
        }

        & > .header-container {
          @include s.flexColumn;
          border-bottom: 1px solid s.$pqBlack2;

          & > .header {
            @include s.flexRow;
            flex: 0 0 auto;
            min-width: 835px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 15px 0;

            & > div {
              margin-right: 25px;
            }

            & > div:last-of-type {
              margin-right: 0;
            }

            & > .client-container {
              @include s.flexColumn;
              flex: 0 1 300px;

              & > .client-title {
                @include s.flexRowNoWrap;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 10px;
                padding-left: 20px;

                & > label {
                  @include s.escaledFontFormat(s.$textSize15to21, bold, s.$pqBlack2);
                  @include s.Novecento-Bold;
                  white-space: pre;
                }

                & > div {
                  display: flex;

                  & > img {
                    height: 15px;
                    cursor: pointer;
                  }

                  @include s.responsive_layout('macBookAir') {
                    & > img {
                      height: 20px;
                    }
                  }
                }
              }

              & > .client {
                @include s.flexRowNoWrap;

                & > div:nth-of-type(1) {
                  @include s.flexColumn;
                  @include s.absoluteCenter;
                  flex: 0 0 122px;
                  height: 70px;
                  padding-right: 18px;

                  & > img {
                    max-height: 100%;
                    max-width: 100%;
                  }
                }

                & > .client-info {
                  @include s.flexColumn;
                  flex: 1;
                  justify-content: center;

                  & > div {
                    @include s.multiLineTextTruncateSinHeight($lineHeight: 1.1em);
                    margin-bottom: 4px;
                    max-width: 240px;

                    & > label {
                      @include s.escaledFontFormat(s.$textSize16to21, bold, s.$pqGreen);
                      @include s.Roboto-Bold;
                    }
                  }

                  & > label {
                    @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                    @include s.Roboto-Regular;
                  }
                }
              }
            }

            & > .contact-data {
              @include s.flexColumn;
              flex: 1 1 auto;

              & > .title {
                @include s.flexColumn;
                margin-bottom: 12px;

                & > label {
                  @include s.escaledFontFormat(s.$textSize17to21, bold, s.$pqGreen);
                  @include s.Roboto-Bold;
                }
              }

              & > .data {
                @include s.flexRow;

                & > div {
                  @include s.flexColumn;
                  margin-right: 50px;

                  &:last-of-type {
                    margin-right: 0;
                  }

                  & > .row {
                    @include s.flexRowNoWrap;
                    align-items: center;
                    height: 18px;
                    margin-bottom: 5px;

                    & > .image {
                      @include s.absoluteCenter;
                      @include s.flexColumn;
                      height: 18px;
                      margin-right: 5px;
                      width: 18px;

                      & > img {
                        max-height: 100%;
                        max-width: 100%;
                      }
                    }

                    & > label {
                      @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
                      @include s.Roboto-Regular;
                      white-space: pre-wrap;

                      &.bold {
                        @include s.Roboto-Bold;
                      }

                      &.green {
                        @include s.escaledFontFormat(s.$textSize14to18, bold, s.$pqGreen2);
                        @include s.Roboto-Bold;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        & > .center-container {
          @include s.flexRow;
          flex: 1 1 auto;
          margin: 0 -20px;
          overflow: hidden;
        }
      }
    }

    & > .bottom-container {
      @include s.flexRowNoWrap;
      @include s.absoluteCenter;
      border-top: 2px solid s.$pqBlack2;
      flex: 0 0 48px;

      & > div {
        @include s.flexRowNoWrap;
        align-items: center;

        & > label {
          @include s.escaledFontFormat(s.$textSize12to14, bold, s.$pqBlack2);
          @include s.Roboto-Regular;
          white-space: pre;

          &:first-of-type {
            @include s.Roboto-Bold;
          }
        }
      }
    }

    @include s.responsive_layout('macBookAir') {
      & > .top-container {
        & > .left-container {
          flex: 0 0 530px;

          & > .title {
            margin-bottom: 14px;
          }

          & > .filters {
            padding-bottom: 20px;
          }

          & > .list-container {
            & > virtual-scroller {
              & .item {
                height: 95px;
              }
            }
          }

          & > .totals {
            @include s.flexRowNoWrap;
            flex: 0 0 49px;
            padding: 10px 20px 0 30px;
          }
        }

        & > .right-container {
          & > .title {
            padding-bottom: 14px;
          }

          & > .header {
            & > .client-container {
              flex: 0 1 340px;

              & > .client {
                & > .client-info {
                  & > div {
                    max-width: 300px;
                  }
                }
              }
            }

            & > .contact-data {
              & > .data {
                & > div {
                  margin-right: 60px;
                }
              }
            }
          }
        }
      }
      & > .bottom-container {
        flex: 0 0 56px;
      }
    }
  }

  & > app-pop-up-generic {
    & .pop-modify-cost {
      @include s.flexColumn;
      flex: 1 0 100%;
      overflow: hidden;

      & > img {
        height: 60px;
        margin: 30px auto;
        width: 60px;
      }

      & > .ocean {
        @include s.escaledFontFormat(s.$textSize21to28, bold, s.$pqGreen);
        @include s.Roboto-Bold;
        padding: 0 40px;
        white-space: pre-wrap;

        & > span {
          vertical-align: baseline;
        }
      }

      & > .black {
        @include s.escaledFontFormat(s.$textSize21to28, regular, s.$pqBlack2);
        @include s.Roboto-Regular;
        padding: 0 40px;
        white-space: pre-wrap;

        & > span {
          vertical-align: baseline;
        }
      }

      & > label:last-of-type {
        margin-bottom: 30px;
      }

      & > .ocean-bg {
        @include s.absoluteCenter;
        @include s.flexRowNoWrap;
        background-color: rgba(s.$pqGreen, 0.05);
        padding: 20px 80px;

        & > label {
          @include s.escaledFontFormat(s.$textSize17to21, regular, s.$pqBlack2);
          @include s.Roboto-Regular;
          margin-right: 15px;
          white-space: pre-wrap;
        }

        & > .pqf {
          color: s.$pqGreen !important;
        }
      }

      & > .cost {
        @include s.flexRowNoWrap;
        justify-content: space-between;
        margin-top: 25px;
        padding: 0 30px;

        & > div {
          @include s.flexRowNoWrap;
          align-items: center;

          & > label {
            @include s.escaledFontFormat(s.$textSize17to22, regular, s.$pqBlack2);
            @include s.Roboto-Regular;
            white-space: pre;

            & > span {
              color: s.$pqGreen;
            }
          }
        }
      }
    }
  }

  #container-pop-up-conditions {
    @include s.flexColumn;
    flex: 1 1 auto;
    overflow: hidden;

    & > .header {
      height: 60px;
      padding: 20px;

      & > img {
        width: 70px;
        height: 17px;
        padding-right: 5px;
      }

      & > label {
        $textSize: (
          'base': 15px,
          'macBookAir': 21px,
        );
        @include s.escaledFontFormat($textSize, bold, s.$pqGreen);
        @include s.Novecento-Bold;
        padding-left: 10px;
      }
    }

    & > .content-info {
      @include s.flexColumn;
      flex: 1 1 auto;

      & > .bar-line {
        @include s.flexRowNoWrap;
        background-color: #ebf6f7;
        height: 80px;
        justify-content: space-around;
        align-items: center;

        & > div {
          @include s.flexColumn;

          & > label {
            text-align: center;
          }

          & > label:nth-of-type(1) {
            $textSize: (
              'base': 12px,
              'macBookAir': 16px,
            );
            @include s.escaledFontFormat($textSize, bold, s.$pqBlack2);
            @include s.Roboto-Bold;
            padding-bottom: 5px;
          }

          & > .green {
            $textSize: (
              'base': 14px,
              'macBookAir': 25px,
            );
            @include s.escaledFontFormat($textSize, bold, s.$pqGreen);
            @include s.Roboto-Bold;
          }

          & > .red {
            $textSize: (
              'base': 14px,
              'macBookAir': 25px,
            );
            @include s.escaledFontFormat($textSize, bold, #cc4757);
            @include s.Roboto-Bold;
          }

          & > .yellow {
            $textSize: (
              'base': 14px,
              'macBookAir': 25px,
            );
            @include s.escaledFontFormat($textSize, bold, #e29d2a);
            @include s.Roboto-Bold;
          }
        }
      }

      & > .complaints {
        @include s.flexRowNoWrap;
        flex: 1 1 auto;
        padding: 40px 20px 45px 20px;

        & > .container-chart {
          @include s.flexColumn;
          width: 45%;
          height: auto;
          align-items: center;
          padding-top: 10px;
          position: relative;

          & > .chart-container {
            @include s.flexColumn;
            height: 100%;
            width: 100%;

            & > .chart {
              width: 100%;
              height: 100%;
              position: relative;
              overflow: hidden;

              & > app-doughnut-chart {
                position: absolute;
                //margin-left: -6%;
                margin-top: -6%;
                top: 0;
                left: 0;
                //width: 118%;
                //height: 118%;
              }
            }

            & > .labels {
              @include s.flexRowNoWrap;
              width: 100%;
              justify-content: space-around;
              height: 20px;

              & > div {
                @include s.flexRowNoWrap;
                align-content: center;
                align-items: center;

                & > .circulo {
                  width: 12px;
                  height: 12px;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                  margin-right: 5px;
                }

                & > p {
                  $textSize: (
                    'base': 13px,
                    'macBookAir': 17px,
                  );
                  @include s.escaledFontFormat($textSize, regular, s.$pqBlack2);
                  @include s.Roboto-Regular;
                }
              }
            }
          }
        }

        & > .container-table {
          @include s.flexColumn;
          height: auto;
          flex: 1 1 auto;
          padding-top: 10px;
          box-sizing: border-box;
          align-items: flex-start;

          & > div:nth-of-type(1) {
            @include s.flexRowNoWrap;
            width: 100%;
            height: 29px;
            justify-content: space-between;
            padding-bottom: 7px;
            border-bottom: 1px solid s.$pqBlack2;

            & > div:nth-of-type(1) {
              @include s.flexRowNoWrap;
              align-items: center;

              & > .circulo {
                width: 17px;
                height: 17px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                margin-right: 5px;
              }

              & > label:nth-of-type(1) {
                $textSize: (
                  'base': 13px,
                  'macBookAir': 18px,
                );
                @include s.escaledFontFormat($textSize, bold, s.$pqBlack2);
                @include s.Novecento-Bold;
              }
            }

            & > div:nth-of-type(2) {
              @include s.flexRowNoWrap;
              max-width: 160px;
            }
          }

          & > .table {
            @include s.flexRowNoWrap;
            width: 100%;
            height: calc(100% - 21px - 29px);
            flex: 1;
            box-sizing: border-box;
            overflow: hidden;
            padding-bottom: 7px;
            border-bottom: 1px solid s.$pqBlack2;

            & > div:nth-of-type(1) {
              @include s.flexColumn;
              width: 100%;
              box-sizing: border-box;
              overflow: hidden;
              flex: 1;

              & > .body {
                @include s.flexRowWrap;
                width: 100%;
                height: 100%;
                flex: 1;
                box-sizing: border-box;
                overflow: hidden;

                & > virtual-scroller {
                  width: 100%;
                  height: 99%;

                  ::ng-deep .scrollable-content {
                    & > .row-items-quotation {
                      @include s.flexRowNoWrap;
                      @include s.absoluteCenter;
                      width: 100%;
                      border-bottom: solid 1px s.$pqGray2;
                      box-sizing: border-box;
                      justify-content: space-between;
                      padding: 15px;

                      &.saving {
                        background-color: rgba(75, 169, 43, 0.06);

                        &:hover * {
                          cursor: default !important;
                        }

                        &:hover {
                          background-color: rgba(75, 169, 43, 0.1);
                          cursor: default !important;
                        }
                      }

                      &:hover * {
                        cursor: pointer;
                      }

                      &:hover {
                        background-color: s.$pqGray2;
                        cursor: pointer;
                      }

                      & > div {
                        @include s.flexRowWrap;
                        box-sizing: border-box;
                        position: relative;

                        & > p:nth-of-type(1) {
                          $textSize: (
                            'base': 12px,
                            'macBookAir': 14px,
                          );
                          @include s.escaledFontFormat($textSize, regular, s.$pqBlack2);
                          @include s.Roboto-Regular;
                          letter-spacing: 0;
                          text-align: left;
                        }
                      }

                      & > div:nth-of-type(1) {
                        @include s.flexColumn;
                        justify-content: flex-start;

                        & > .line-one {
                          @include s.flexRowNoWrap;
                          padding-bottom: 2px;

                          & > p:nth-of-type(1) {
                            $textSize: (
                              'base': 13px,
                              'macBookAir': 17px,
                            );
                            @include s.escaledFontFormat($textSize, bold, s.$pqBlack2);
                            @include s.Roboto-Bold;
                            letter-spacing: 0;
                            text-align: left;
                          }

                          & > p:nth-of-type(2) {
                            $textSize: (
                              'base': 13px,
                              'macBookAir': 17px,
                            );
                            @include s.escaledFontFormat($textSize, bold, s.$pqGreen);
                            @include s.Roboto-Bold;
                            letter-spacing: 0;
                            text-align: left;
                            padding-left: 3px;
                            text-decoration: underline;
                          }
                        }

                        & > .line-two {
                          padding-top: 3px;

                          & > p:nth-of-type(1) {
                            $textSize: (
                              'base': 12px,
                              'macBookAir': 16px,
                            );
                            @include s.escaledFontFormat($textSize, light, s.$pqBlack2);
                            @include s.Roboto-Light;
                            letter-spacing: 0;
                            text-align: left;
                          }
                        }
                      }

                      & > div:nth-of-type(2) {
                        justify-content: flex-end;

                        & > .text-green {
                          $textSize: (
                            'base': 13px,
                            'macBookAir': 16px,
                          );
                          @include s.escaledFontFormat($textSize, regular, s.$pqGreen2);
                          @include s.Roboto-Regular;
                        }

                        & > .text-red {
                          $textSize: (
                            'base': 11px,
                            'macBookAir': 16px,
                          );
                          @include s.escaledFontFormat($textSize, regular, #d73655);
                          @include s.Roboto-Regular;
                        }

                        & > .text-blue {
                          $textSize: (
                            'base': 11px,
                            'macBookAir': 16px,
                          );
                          @include s.escaledFontFormat($textSize, regular, #5793f3);
                          @include s.Roboto-Regular;
                        }
                      }
                    }

                    & > .cell-orange {
                      background-color: #fef3e8;
                    }

                    & > .cell-blue {
                      background-color: #ebf6f7;
                    }

                    & > .cell-green {
                      background-color: #f1f9ee;
                    }
                  }
                }
              }

              & > .without-results {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }

          & > .footer-table {
            @include s.flexRowNoWrap;
            width: 100%;
            height: 21px;
            padding-top: 3px;

            & > div {
              @include s.flexRowNoWrap;
              height: 100%;
              flex: 1;
              align-items: flex-start;

              & > label {
                $textSize: (
                  'base': 11px,
                  'macBookAir': 16px,
                );
                @include s.escaledFontFormat($textSize, regular, s.$pqBlack2);
                @include s.Roboto-Regular;
              }

              & > .label-1 {
                width: 70%;
                text-align: center;
                display: block;
                padding-top: 6px;
                height: auto;
              }

              & > .label-2 {
                width: 30%;
                text-align: right;
                display: block;
                padding-top: 6px;
                height: auto;
              }
            }
          }
        }
      }
    }

    & > .loading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      flex: 1;
    }

    @include s.responsive_layout('macBookAir') {
      & > .header {
        height: 90px;
        padding: 37px 40px 29px 40px;

        & > img {
          width: 90px;
          height: 20px;
        }
      }
      & > .content-info {
        @include s.flexColumn;

        & > .bar-line {
          @include s.flexRowNoWrap;
          height: 112px;

          & > div {
            @include s.flexColumn;

            & > label {
              text-align: center;
            }

            & > label:nth-of-type(1) {
              $textSize: (
                'base': 13px,
                'macBookAir': 16px,
              );
              @include s.escaledFontFormat($textSize, bold, s.$pqBlack2);
              @include s.Roboto-Bold;
              padding-bottom: 5px;
            }

            & > .green {
              $textSize: (
                'base': 20px,
                'macBookAir': 25px,
              );
              @include s.escaledFontFormat($textSize, bold, s.$pqGreen);
              @include s.Roboto-Bold;
            }

            & > .red {
              $textSize: (
                'base': 20px,
                'macBookAir': 25px,
              );
              @include s.escaledFontFormat($textSize, bold, #cc4757);
              @include s.Roboto-Bold;
            }

            & > .yellow {
              $textSize: (
                'base': 20px,
                'macBookAir': 25px,
              );
              @include s.escaledFontFormat($textSize, bold, #e29d2a);
              @include s.Roboto-Bold;
            }
          }
        }

        & > .complaints {
          @include s.flexRowNoWrap;
          flex: 1 1 auto;
          padding: 40px;

          & > .container-chart {
            @include s.flexColumn;

            & > .chart-container {
              & > .chart {
                & > app-doughnut-chart {
                  margin-left: 0;
                  margin-top: 0;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
              }

              & > .labels {
                & > div {
                  & > .circulo {
                    width: 16px;
                    height: 16px;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    margin-right: 5px;
                  }
                }
              }
            }
          }

          & > .container-table {
            @include s.flexColumn;
            width: 55%;
            height: auto;
            padding-top: 10px;
            box-sizing: border-box;
            overflow: hidden;
            align-items: flex-start;

            & > div:nth-of-type(1) {
              @include s.flexRowNoWrap;
              width: 100%;
              height: 29px;
              align-content: space-between;
              padding-bottom: 7px;
              border-bottom: 1px solid s.$pqBlack2;

              & > div:nth-of-type(1) {
                @include s.flexRowNoWrap;
                align-items: center;

                & > .circulo {
                  width: 17px;
                  height: 17px;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                  margin-right: 5px;
                }

                & > label:nth-of-type(1) {
                  $textSize: (
                    'base': 13px,
                    'macBookAir': 18px,
                  );
                  @include s.escaledFontFormat($textSize, bold, s.$pqBlack2);
                  @include s.Novecento-Bold;
                }
              }

              & > div:nth-of-type(2) {
                @include s.flexRowNoWrap;
              }
            }

            & > .table {
              height: calc(100% - 30px - 29px);
            }

            & > .footer-table {
              @include s.flexRowNoWrap;
              width: 100%;
              height: 30px;
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
}
