@use 'base' as s;

:host {
  height: 100%;

  & > .register-visit-step-1 {
    @include s.flexColumn;
    flex: 1 1 auto;
    overflow: auto;
    height: 100%;

    & > .subtitle {
      @include s.Novecento-Bold;
      @include s.escaledFontFormat(s.$textSize15to21, bold, s.$pqBlack);
      border-bottom: 1px solid s.$pqBlack;
      padding-bottom: 11px;
    }

    & > .delivery-container {
      @include s.flexRow;
      margin-top: 40px;
      display: grid;
      grid-template-columns: 243px repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr) 45px;
      grid-column-gap: 20px;
      grid-row-gap: 10px;

      .delivery-image-content {
        grid-area: 1 / 1 / 4 / 2;
      }

      .add-delivery {
        grid-area: 1 / 2 / 2 / 4;

        & > div {
          @include s.flexRow;

          & > .imgOcean-Add-User {
            height: 25px;
            cursor: pointer;
            align-self: flex-end;
            margin-left: 10px;
          }

          @include s.responsive_layout('macBookAir') {
            & > .imgOcean-Add-User {
              margin: 24px 0 8px 7px;
              height: 30px;
              cursor: pointer;
            }
          }
        }
      }

      .place {
        grid-area: 1 / 4 / 2 / 5;
      }

      .telephone {
        grid-area: 2 / 2 / 3 / 3;
      }

      .extension {
        grid-area: 2 / 3 / 3 / 4;
      }

      .cellphone {
        grid-area: 2 / 4 / 3 / 5;
      }

      .email {
        grid-area: 3 / 2 / 4 / 4;
      }

      .date {
        grid-area: 3 / 4 / 4 / 5;
      }

      .cancel {
        grid-area: 4 / 1 / 5 / 2;

        & > .btn-link-to {
          @include s.pqButton(150px, 180px, 25px, 30px, s.$pqGreen);
        }
      }

      .saveOrEdit {
        display: flex;
        grid-area: 4/4/5/5;
        justify-content: flex-end;

        & > .btn-link-to {
          @include s.pqButton(150px, 180px, 25px, 30px, s.$pqGreen);
        }

        & > .btn-link-to-disable {
          @include s.pqButton(150px, 180px, 25px, 30px, s.$pqGray3);

          &:hover {
            cursor: default;
          }
        }
      }

      & .popUpCont {
        & .popDescriptionFilds {
          @include s.flexColumn;

          & .imageFilesPop {
            height: 60px;
            margin: 43px 0 20px 0;
          }

          & .containerDescription {
            @include s.flexRow;
            flex: 1;

            & .descriptionFields {
              @include s.escaledFontFormat(s.$textSize26to29, normal, s.$pqBlack2);
              text-align: center;
              margin: 31px 50px 0 50px;
              flex: 1;
            }
          }
        }
      }
    }

    & > .buttonsEditContainer {
      @include s.flexRow;
      justify-content: space-between;
      margin: 0 0 30px 0;

      & > div {
        @include s.flexRow;
        justify-content: space-between;

        & > .btn-link-to {
          @include s.pqButton(150px, 180px, 25px, 30px, s.$pqGreen);
        }

        & > .btn-link-to-disable {
          @include s.pqButton(150px, 250px, 25px, 30px, s.$pqGray3);
        }
      }
    }

    & > .tagVehicle {
      @include s.Novecento-Bold;
      @include s.escaledFontFormat(s.$textSize14to21, bold, s.$pqBlack);
      border-bottom: 1px solid s.$pqBlack;
      padding-bottom: 11px;
    }

    & > .vehicleContainer {
      @include s.flexColumn;
      flex: 1;

      & > .vehicleContainerSub {
        @include s.flexRow;
        margin: 25px 0 0 0;

        app-radio-button {
          padding-right: 77px;
        }
      }

      > .vehicleContainerSubSecond {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        margin: 25px 0;

        .vehicleContainerSubSecondItemsFirst {
          grid-area: 1 / 1 / 2 / 2;
        }

        .vehicleContainerSubSecondItemsSecond {
          grid-area: 1 / 2 / 2 / 3;
        }

        .vehicleContainerSubSecondItemsThird {
          grid-area: 1 / 3 / 2 / 4;
        }

        .vehicleContainerSubSecondItemsFourth {
          grid-area: 1 / 4 / 2 / 5;
        }
      }
    }

    & > .tagWhoVisit {
      @include s.Novecento-Bold;
      @include s.escaledFontFormat(s.$textSize14to21, bold, s.$pqBlack);
      padding-bottom: 11px;
      border-bottom: 1px solid s.$pqBlack;
    }

    & > .whoVisitContainer {
      display: grid;
      flex: 1;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      margin: 25px 0;

      .tagWhoVisitFirst {
        grid-area: 1 / 1 / 2 / 2;
      }

      .tagWhoVisitSecond {
        grid-area: 1 / 2 / 2 / 3;
      }

      .tagWhoVisitThird {
        grid-area: 1 / 3 / 2 / 4;
      }

      .tagWhoVisitFourth {
        grid-area: 1 / 4 / 2 / 5;
      }
    }

    & > .arrivedPartsContainer {
      @include s.flexRow;
      justify-content: center;
      flex: 1 1 auto;

      & > .listArrivedPartsContainer {
        @include s.flexColumn;
        overflow: auto;
        flex: 0 0 350px;

        & > .tagBoardingGuides {
          margin-bottom: 20px;
          @include s.Novecento-Bold;
          @include s.escaledFontFormat(s.$textSize17to24, bold, s.$pqBlack);
        }

        & > .left-container {
          @include s.flexColumn;
          flex: 1 1 auto;

          & > .orders-list-container {
            @include s.flexColumn;
            flex: 1 1 auto;
            overflow: hidden;

            & > .virtual-list {
              @include s.flexColumn;
              flex: 1;
              overflow: auto;
              width: 100%;
              height: 100%;

              & > ::ng-deep .scrollable-content > .item {
                @include s.flexRow;
                border-bottom: 1px solid s.$pqGray2;
                cursor: pointer;
                transition: background-color 0.2s ease;

                & * {
                  cursor: pointer;
                }

                &:hover {
                  background-color: s.$pqGray2;
                }

                &.active {
                  & > .indicator {
                    background-color: s.$pqGreen;
                  }
                }

                & > .indicator {
                  flex: 0 0 8px;
                }

                & > .content {
                  @include s.flexColumn;
                  flex: 1;
                  overflow: hidden;
                  justify-content: space-between;
                  align-items: flex-start;
                  padding: 10px 10px 10px 10px;
                  height: 100%;

                  & > .title {
                    @include s.multiLineTextTruncateSinHeight($lineHeight: 1.2em);
                    margin-bottom: 5px;

                    & > label {
                      @include s.escaledFontFormat(s.$textSize16to21, bold, s.$pqBlack2);
                      @include s.Roboto-Bold;

                      & > span {
                        color: s.$pqGreen;
                        vertical-align: baseline;
                      }
                    }
                  }

                  & > .subtitle {
                    @include s.escaledFontFormat(s.$textSize14to20, normal, s.$pqBlack2);
                    @include s.Roboto-Regular;
                    margin-bottom: 4px;
                  }

                  & > .black-info {
                    @include s.escaledFontFormat(s.$textSize13to18, regular, s.$pqTextGris);
                    @include s.Roboto-Regular;
                  }
                }
              }
            }

            & > .without-results,
            & > .loading {
              @include s.flexRow;
              @include s.absoluteCenter;
              height: 100%;
            }
          }
        }

        & > .waybillsContainer {
          flex: 0 0 43px;
          border-top: 1px solid s.$pqBlack2;

          & > .waybills {
            @include s.flexRow;
            justify-content: center;
            @include s.Roboto-Regular;
            @include s.escaledFontFormat(s.$textSize12to14, normal, s.$pqBlack2);
            padding-top: 10px;
          }
        }
      }

      & > .detailsArrivedParts {
        @include s.flexColumn;
        flex: 1 1 auto;
        justify-content: center;

        & > .detailsArrivedPartsContainer {
          @include s.absoluteCenter;
          @include s.flexRow;
          flex: 1 0 70%;
          padding: 20px;
          background-color: s.$pqGray5;
          margin-left: 20px;

          & > .carousel-images {
            height: auto;
          }
        }

        & > .buttonContainerSecond {
          @include s.flexRow;
          justify-content: space-between;
          margin-top: 20px;
          margin-left: 20px;

          & > .btn-link-to {
            @include s.pqButton(150px, 180px, 25px, 30px, s.$pqGreen);
          }

          & > .btn-link-to-disable {
            @include s.pqButton(150px, 250px, 25px, 30px, s.$pqGray3);
          }
        }
      }
    }
  }

  @include s.responsive_layout('macBookAir') {
    & > .register-visit-step-1 {
      & > .delivery-container {
        @include s.flexRow;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 283px repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) 50px;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
      }
    }
  }
}
