@use 'base' as s;

:host {
  width: 100%;
  height: 100%;

  #declare-arrival-guide-container {
    width: 100%;
    height: 100%;

    & > .header-bar {
      width: 100%;
      height: 50px;
    }

    & > .outlet {
      width: 100%;
      height: calc(100% - 50px);
    }
  }

  @include s.responsive_layout('macBookAir') {
    & > #declare-arrival-guide-container {
      & > .header-bar {
        height: 64px;
      }

      & > .outlet {
        height: calc(100% - 64px);
      }
    }
  }
}
