@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  @include s.absolute100;
  @include s.flexColumn;
  @include s.reset-line-height;
  @include s.pqf-pending-generic-structure;
  overflow: hidden;
}

.details-container {
  overflow: hidden;

  & > .left-container {
    @include s.flexColumn;
    grid-column-end: span 3;

    & > .filters {
      @include s.flexColumn;
      border-bottom: 1px solid s.$dark-proquifa-d;
      padding: 8px 8px 16px 8px;
      row-gap: 20px;

      & > .title-providers {
        @include s.responsive-font-format(
          $font-family: s.$font-family-roboto_bold,
          $font-weight: s.$font-weight-bold,
          $font-size-map: s.$responsive-font-20-20
        );
      }
    }

    & > .list-container {
      @include s.flexColumn;
      flex: 1;

      & > virtual-scroller {
        @include s.absolute100;
        @include s.fixVirtualScroller;
      }

      & > .without-results {
        @include s.flexColumn;
        align-items: center;
        flex: 1;
        justify-content: center;

        & > label {
          @include s.responsive-font-format(
            $font-size-map: s.$responsive-font-20-20,
            $font-family: s.$font_family_roboto_regular,
            $color: s.$dark-proquifa-d,
            $font-weight: s.$font_weight_bold
          );
          text-transform: uppercase;
        }
      }

      & > .loader {
        @include s.flexRow;
        height: 100%;

        & > app-loading {
          @include s.flexRow;
        }
      }
    }

    & > .footer {
      border-top: 1px solid s.$dark-proquifa-d;
      padding: 24px 130px 16px 15px;

      & > label {
        @include s.responsive-font-format($font-size-map: s.$responsive-font-16-16, $color: s.$pqBlack2);
      }
    }
  }

  & > .right-container {
    @include s.flexColumn;
    overflow: hidden;

    .without-results {
      align-items: center;
      display: grid;
      flex: 1;
      grid-column-end: span 9;
      grid-template-columns: repeat(9, 1fr);

      & > label {
        @include s.responsive-font-format(
          $font-family: s.$font-family-roboto_bold,
          $font-weight: s.$font-weight-bold,
          $font-size-map: s.$responsive-font-20-20
        );
        grid-area: 1 / 3 / 2 / 8;
        text-align: center;
      }
    }

    .loader {
      @include s.flexRow;
      align-items: center;
      flex: 1;
    }

    .footer-btn {
      @include s.absoluteCenter;
      @include s.flexRow;
      border-top: 1px solid s.$dark-proquifa-d;
      justify-content: space-between;
      padding: 16px 0 8px 0;

      & > .btn-disable {
        @include s.pqf-button($version: s.$empty, $type: s.$disable, $height: s.$short, $width: s.$md);
      }

      & > .btn-cancel {
        @include s.pqf-button($version: s.$empty, $type: s.$secondary, $height: s.$short, $width: s.$md);
      }

      & > .btn-save {
        @include s.pqf-button($version: s.$full, $type: s.$secondary, $height: s.$short, $width: s.$md);
      }

      & > .btn-accept {
        @include s.pqf-button($version: s.$full, $type: s.$primary, $height: s.$short, $width: s.$md);
      }
    }
  }
}

@include s.media-query(s.$standard) {
  .details-container {
    & > .right-container {
      .footer-btn {
        padding: 16px 20px 8px 20px;
      }
    }
  }
}
