@use 'base' as s;

:host {
  @include s.absolute100;
  @include s.flexColumn;
  @include s.reset-line-height;
  overflow: hidden;
}

#regulatory-research {
  @include s.flexColumn;
  overflow: hidden;
  flex: 1;

  & > .outlet {
    @include s.flexColumn;
    flex: 1;
    overflow: hidden;
  }
}
