<div class="principalHome">
  <div class="title">
    <label>CÁTALOGOS</label>
  </div>
  <div class="sections">
    <div>
      <div (click)="redirectTo(clientsRoute)">
        <div>
          <label>CLIENTES</label>
        </div>
      </div>
    </div>
    <div>
      <div (click)="redirectTo('providers')">
        <div>
          <label>PROVEEDORES</label>
        </div>
      </div>
    </div>
    <div>
      <div (click)="redirectTo('products')">
        <div>
          <label>PRODUCTOS</label>
        </div>
      </div>
    </div>
    <div>
      <div (click)="redirectTo('brands')">
        <div>
          <label>MARCAS</label>
        </div>
      </div>
    </div>
    <div>
      <div (click)="redirectTo('customs-agents')">
        <div>
          <label>AGENTES</label>
          <label>ADUANALES</label>
        </div>
      </div>
    </div>
  </div>
</div>
