@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  @include s.absolute100;

  & > #quotation-new-container {
    @include s.absolute100;
    @include s.flexColumn;
    overflow: hidden;

    & > .header-options {
      @include s.flexRowNoWrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 2;
      padding: 10px 20px;
      & > label {
        @include s.responsive-font-format(
          $font-family: s.$font_family_novecento_bold,
          $font-size-map: s.$responsive-font-17-21,
          $font-weight: s.$font_weight_bold
        );
        & > span {
          color: s.$main-proquifa;
          vertical-align: baseline;
        }
      }

      & > app-search {
        width: 450px;
        margin: auto 25px;
      }

      & > button {
        &.see-resume {
          &.active {
            @include s.pqButton($min-width: 180px, $max-width: 250px);
          }

          &.disabled {
            @include s.pqButtonDisable($min-width: 180px, $max-width: 250px);
          }
        }

        &.back {
          &.active {
            @include s.pqButton();
          }

          &.disabled {
            @include s.pqButtonDisable();
          }
        }
      }
    }

    & > .table-container {
      @include s.flexRow;
      border-bottom: 1px solid s.$pqBlack2;
      flex: 1;
      & > virtual-scroller {
        overflow: hidden;
        @include s.fixVirtualScroller();
        ::ng-deep .scrollable-content {
          overflow: auto;
          & > .header {
            flex: 0 0 auto;
            position: sticky;
            top: 0;
            z-index: 6;
            min-width: 1869px;
          }

          & > .header-separator {
            position: sticky;
            top: 47px;
            left: 0;
            border-bottom: 1px solid s.$dark-proquifa;
          }
          & > .item {
            min-width: 1869px;
          }
        }
      }
      & > .loading {
        @include s.flexColumn;
        @include s.absoluteCenter;
        @include s.absolute100;
      }
    }
    & > .footer-adjustment {
      @include s.flexRow;
      background-color: rgba(s.$pqGray3, 0.1);
      justify-content: space-between;
      padding: 13px 16px 16px 16px;
      & > .content {
        @include s.flexColumn;
        gap: 8px;
        & > .inputs {
          display: grid;
          grid-template-columns: 1.5fr 0.6fr 1.8fr;
          grid-template-rows: 1fr;
          grid-column-gap: 16px;
          grid-row-gap: 0px;
          & > .payment-conditions {
            margin-right: 16px;
          }

          & > .additional-days {
            margin-right: 8px;
          }
        }
      }

      & > .buttons {
        @include s.flexColumn;
        align-items: flex-end;
        gap: 24px;
        justify-content: flex-end;

        & > button {
          &.active {
            @include s.pqButton();
          }

          &.active-green {
            @include s.pqButton($baseColor: s.$pqGreen2);
          }

          &.disabled {
            @include s.pqButtonDisable();
          }
        }

        & > .resend-button {
          @include s.flexRowNoWrap;
          justify-content: flex-end;

          & > button {
            &.active {
              @include s.pqButton($min-width: 200px, $max-width: 290px);
            }

            &.disabled {
              @include s.pqButtonDisable($min-width: 200px, $max-width: 290px);
            }
          }
        }
      }
      & > label {
        @include s.responsive-font-format(
          $font-family: s.$font_family_novecento_bold,
          $font-size-map: s.$responsive-font-17-21,
          $font-weight: s.$font_weight_bold,
          $color: s.$main-proquifa
        );
        margin-right: 54px;
      }
      & > .total-selected {
        display: flex;
        flex: 0 0 90px;
        justify-content: center;
        & > label {
          @include s.responsive-font-format(
            $font-family: s.$font_family_novecento_bold,
            $font-size-map: s.$responsive-font-17-21,
            $font-weight: s.$font_weight_bold,
            $color: s.$main-proquifa
          );
        }
      }

      & > .options-adjustment {
        @include s.flexRowWrap;
        flex: 1 0 340px;
        gap: 8px;
        align-items: center;
        & > div {
          @include s.flexRow;
          align-items: center;
          gap: 5px;
          & > label {
            @include s.responsive-font-format(
              $color: s.$main-proquifa,
              $font-family: s.$font_family_novecento_bold,
              $font-size-map: s.$responsive-font-16-20,
              $font-weight: s.$font_weight_bold
            );
            &.disabled {
              color: s.$pqGray3;
            }
          }
        }
      }
      & > .adjust-data-container {
        @include s.flexRowNoWrap;
        flex: 0 1 545px;
        gap: 20px;
        & > div {
          @include s.flexColumn;
          flex: 1;
          gap: 4px;
          & > .freight-configurator-container {
            @include s.flexRowNoWrap;
            gap: 16px;
            & > .percentage {
              flex: 0 0 125px;
            }
            & > .freights {
              flex: 1;
            }
          }
          & > .reason {
            @include s.flexColumn;
            justify-content: flex-end;
            flex: 1;
            gap: 4px;
            & > label {
              @include s.responsive-font-format(
                $color: s.$main-proquifa,
                $font-family: s.$font_family_novecento_bold,
                $font-size-map: s.$responsive-font-16-20,
                $font-weight: s.$font_weight_bold
              );
              &.disabled {
                color: s.$pqGray3;
              }
            }
          }
        }
        & > .button {
          @include s.flexColumn;
          justify-content: center;
          flex: 0 0 auto;
          & > button {
            $max-width-map: (
              'base': 200px,
              'macBookAir': 250px,
            );
            &.active {
              @include s.pqfButton($max-width-map: $max-width-map);
            }

            &.disabled {
              @include s.pqfDisableButton($max-width-map: $max-width-map);
            }
          }
        }
      }
      & > .form-per-option {
        @include s.flexRow;
        flex: 1;
      }
    }

    & > .table-footer {
      @include s.flexRowNoWrap;
      justify-content: space-between;
      padding: 0 20px 0 20px;

      & > div {
        @include s.flexRow;
        align-items: center;

        & > label {
          @include s.responsive-font-format(
            $font-family: s.$font_family_roboto_regular,
            $font-size-map: s.$responsive-font-12-14,
            $font-weight: s.$font_weight_regular
          );
        }
      }

      & > .button {
        @include s.flexRowNoWrap;
        width: 200px;
        justify-content: flex-end;
        padding-top: 12px;

        & > button {
          &.active {
            @include s.pqButton();
          }

          &.active-green {
            @include s.pqButton($baseColor: s.$pqGreen2);
          }

          &.disabled {
            @include s.pqButtonDisable();
          }
        }
      }
    }

    & > .button {
      @include s.flexRowNoWrap;
      justify-content: flex-end;
      padding: 10px;

      & > button {
        &.active {
          @include s.pqButton($min-width: 200px, $max-width: 290px);
        }

        &.disabled {
          @include s.pqButtonDisable($min-width: 200px, $max-width: 290px);
        }
      }
    }

    @include s.media-query(s.$standard) {
      & > .header-options {
        & > app-search {
          width: 545px;
        }
      }
      & .custom-pop-up {
        & ::ng-deep {
          & .pop-ng-content {
            & > .title {
              margin-bottom: 5px;
            }

            & > .subtitle {
              margin-bottom: 3px;
            }

            & > .content {
              line-height: 1.4;
            }
          }
        }
      }
    }
  }

  & .custom-pop-up {
    padding: 0 !important;

    & > app-custom-position-pop-up {
      transition: all 0.4s ease-in-out;
    }

    & ::ng-deep {
      & .pop-ng-content {
        @include s.flexColumn;
        padding: 9px;
        overflow-x: auto;
        flex: 1;

        & > .title {
          @include s.responsive-font-format(
            $font-family: s.$font_family_novecento_bold,
            $font-size-map: s.$responsive-font-17-21,
            $font-weight: s.$font_weight_bold
          );
          margin-bottom: 3px;

          &.red {
            color: s.$pqRed;
          }

          &.yellow {
            color: s.$pqOrange;
          }

          &.ocean {
            color: s.$pqGreen;
          }

          &.green {
            color: s.$pqGreen2;
          }
        }

        & > .subtitle {
          @include s.flexRowWrap;
          margin-bottom: 1px;

          & > label {
            @include s.responsive-font-format(
              $font-family: s.$font_family_roboto_bold,
              $font-size-map: s.$responsive-font-13-16,
              $font-weight: s.$font_weight_bold,
              $color: s.$main-proquifa
            );
            white-space: pre-wrap;
            & > span {
              vertical-align: baseline;
            }
            & .green {
              color: s.$pqGreen2;
            }
            & .black {
              color: s.$pqBlack2;
            }
          }
        }

        & > .content {
          @include s.responsive-font-format(
            $font-family: s.$font_family_roboto_regular,
            $font-size-map: s.$responsive-font-13-16,
            $font-weight: s.$font_weight_regular
          );
          line-height: 1.3;

          & > span {
            white-space: pre;
            color: s.$pqGreen;
          }
        }
      }
    }
  }
}

.markSelected {
  background-color: #eceef0;
}
