@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  height: 100%;
  width: 100%;

  & > #config-container {
    @include s.flexColumn;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 20px 20px 0 20px;

    & > .title {
      @include s.flexRow;
      border-bottom: 1px solid s.$pqBlack2;
      flex: 0 0 auto;
      margin-bottom: 20px;

      & > label {
        @include s.escaledFontFormat(s.$textSize17to24, bold, s.$pqBlack2);
        @include s.Novecento-Bold;
        flex: 0 0 auto;
        padding-bottom: 10px;
        white-space: pre;
      }
    }

    & > .inputs {
      @include s.flexColumn;
      flex: 0 0 auto;

      & > div {
        @include s.flexRowNoWrap;
        margin-bottom: 30px;
        align-items: flex-end;

        & > .bold-ocean {
          @include s.escaledFontFormat(s.$textSize13to16, bold, s.$pqGreen);
          @include s.Roboto-Bold;
          margin-right: 8px;
        }

        & > .normal {
          @include s.escaledFontFormat(s.$textSize13to16, regular, s.$pqBlack2);
          @include s.Roboto-Regular;
          margin-right: 20px;
        }

        & > .input {
          flex: 1 1 250px;
          margin-right: 13px;
        }

        & > .min {
          flex: 0 0 70px;
          height: 25px;
          margin-right: 5px;
        }

        & > .big {
          flex: 0 0 340px;
        }

        & > .w-120 {
          flex: 0 0 70px;
        }

        & > .w-270 {
          flex: 0 0 140px;
          margin-right: 20px;
        }

        & > .picker {
          flex: 0 0 125px;
          height: 25px;
          margin-right: 13px;
        }

        & > .mr {
          margin-right: 5px;
        }
      }
    }

    & > .images {
      @include s.flexRow;
      flex: 1 1 auto;
      justify-content: space-between;
      overflow: hidden;

      & > div {
        background-color: s.$pqGray2;
        flex: 0 0 calc(50% - 10px);
        overflow: hidden;
        padding: 40px 20px;

        &:first-of-type {
          margin-right: 20px;
        }
      }
    }

    & > .button {
      @include s.flexRow;
      align-items: center;
      justify-content: flex-end;
      flex: 0 0 59px;

      & > .active {
        @include s.pqButton;
      }

      & > .disabled {
        @include s.pqButtonDisable;
      }
    }

    @include s.responsive_layout('media-1800') {
      & > .inputs {
        & > div {
          & > .big {
            flex: 0 0 570px;
          }

          & > .w-120 {
            flex: 0 0 120px;
          }

          & > .w-270 {
            flex: 0 0 270px;
            margin-right: 20px;
          }
        }
      }

      & > .button {
        height: 69px;
      }
    }

    @include s.responsive_layout('macBookAir') {
      & > .title {
        padding-bottom: 14px;
      }

      & > .inputs {
        & > div {
          & > .min {
            height: 30px;
          }

          & > .picker {
            height: 30px;
          }
        }
      }

      & > .button {
        height: 69px;
      }
    }
  }
}
