@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  @include s.absolute100;

  & > #inspector {
    @include s.absolute100;
    @include s.flexColumn;
    justify-content: flex-start;

    & > .header-bar {
      flex: 0 0 44px;
    }

    & > .data-header {
      @include s.flexRowNoWrap;
      flex: 0 0 auto;
      padding: 0 20px;

      & > .content {
        width: 100%;
        box-sizing: border-box;
        padding: 15px 0;
        flex-direction: row;
        display: flex;

        &.with-border {
          border-bottom: 1px solid #d8d8d8;
        }

        & > .item {
          @include s.flexRowNoWrap;
          align-items: center;
          border-right: 2px solid s.$graySeparator;
          padding-right: 20px;

          &:last-of-type {
            border-right: none;
          }

          label {
            text-transform: uppercase;
          }

          & > .title {
            @include s.flexColumn;
            margin-right: 15px;

            & > label {
              @include s.escaledFontFormat(s.$textSize12to16, bold, s.$grayText);
              @include s.Roboto-Bold;
            }
          }

          & > .number {
            @include s.flexRowNoWrap;
            align-items: flex-start;

            & > .total {
              @include s.escaledFontFormat(s.$textSize30to46, bold, s.$greenActive);
              @include s.Roboto-Bold;

              &.ocean {
                color: s.$pqGreen;
              }
            }

            & > .super-index {
              @include s.escaledFontFormat(s.$textSize15to19, bold, s.$redPopUpText);
              @include s.Roboto-Bold;
              margin-left: 5px;

              &.green {
                color: s.$pqGreen2;
              }
            }

            &.tooltip {
              @include s.tooltip();
            }
          }

          & > .image {
            margin-left: 15px;

            & > img {
              width: 16px;
            }
          }

          & > .big-image {
            cursor: pointer;
            margin-left: 15px;

            & > img {
              width: 25px;
            }
          }
        }

        & > .pa {
          padding-left: 20px;
        }
      }
    }

    & > .outlet {
      flex: 1 1 auto;
      overflow: hidden;
    }

    @include s.responsive_layout('macBookAir') {
      & > .header-bar {
        flex: 0 0 64px;
      }
      & > .footer {
        flex: 0 0 55px;
      }
    }
  }
}
