@use 'base' as s;
* {
  box-sizing: border-box;
}

:host {
  @include s.flexRow;
  flex: 1;

  #clients {
    @include s.flexColumn;
    flex: 1;
    row-gap: 20px;
    & > .evi-content {
      @include s.flexColumn;
      grid-column-end: span 3;
      row-gap: 5px;
      & > .title {
        @include s.flexRow;
        align-items: center;
        & > label {
          @include s.responsive-font-format(
            $font-family: s.$font-family-novecento_bold,
            $font-weight: s.$font-weight-bold,
            $font-size-map: s.$responsive-font-17-21
          );
        }
      }
      & > .user {
        @include s.flexRow;
        column-gap: 12px;
        & > img {
          height: 57px;
          width: 53px;
        }
        & > label {
          @include s.responsive-font-format(
            $font-family: s.$font-family-roboto_bold,
            $font-weight: s.$font-weight-bold,
            $font-size-map: s.$responsive-font-17-21,
            $color: s.$pqGreen
          );
        }
      }
    }
    & > .container {
      @include s.flexRowWrap;
      width: 100%;
      height: 100%;
      overflow: hidden;

      & > .content {
        width: 100%;
        height: 100%;
        @include s.flexColumn;

        & > .title {
          @include s.flexRow;
          width: 100%;

          & > label {
            @include s.responsive-font-format(
              $font-family: s.$font-family-novecento_bold,
              $font-weight: s.$font-weight-bold,
              $font-size-map: s.$responsive-font-17-21
            );
          }
        }

        & > .container-tabs {
          padding-top: 9px;
          padding-bottom: 19px;
        }

        & > .search {
          padding-bottom: 15px;
        }

        & > .filter-hamburger {
          padding-bottom: 15px;
        }

        & > .list-container {
          @include s.flexColumn;
          width: 100%;
          overflow: hidden;
          flex: 1;

          & > .dataList {
            @include s.flexRow;
            overflow: auto;
            height: 100%;
            width: 100%;
            border-bottom: 1px solid s.$pqBlack;
            border-top: 1px solid s.$pqBlack;

            & > .list {
              @include s.flexColumn;
              flex-wrap: nowrap;
              justify-content: flex-start;
              align-content: stretch;
              align-items: center;
              width: 100%;
              line-height: 1.3;
              display: unset;

              & > ::ng-deep .scrollable-content > div {
                @include s.flexRow;
                width: 100%;
                height: 126px;
                min-height: 126px;
                border-bottom: 1px solid s.$pqGray2;
                * {
                  cursor: pointer;
                }

                & > div:nth-child(2) {
                  @include s.flexRow;
                  width: 100%;
                  padding: 17px 19px 17px 19px;

                  & > .info {
                    @include s.flexColumn;
                    width: 100%;
                    justify-content: center;

                    & > div {
                      align-items: center;
                      padding-bottom: 5px;
                    }

                    & > .oc {
                      @include s.flexRow;

                      & > label {
                        @include s.responsive-font-format(
                          $font-family: s.$font-family-roboto_bold,
                          $font-weight: s.$font-weight-bold,
                          $font-size-map: s.$responsive-font-16-20
                        );
                      }
                    }

                    & > .strategy {
                      @include s.flexRowNoWrap;

                      & > label:nth-of-type(1) {
                        @include s.responsive-font-format(
                          $font-family: s.$font-family-roboto_regular,
                          $font-weight: s.$font-weight-regular,
                          $font-size-map: s.$responsive-font-14-16
                        );
                      }

                      & > label:nth-of-type(2) {
                        @include s.responsive-font-format(
                          $font-family: s.$font-family-roboto_regular,
                          $font-weight: s.$font-weight-regular,
                          $font-size-map: s.$responsive-font-14-16,
                          $color: s.$pqGreen
                        );
                        padding-left: 5px;
                      }
                    }

                    & > .total {
                      @include s.flexRow;
                      & > img {
                        padding-right: 5px;
                        padding-left: 5px;
                        width: 20px;
                      }

                      & > label:nth-of-type(1),
                      label:nth-of-type(2),
                      label:nth-of-type(3) {
                        @include s.responsive-font-format(
                          $font-family: s.$font-family-roboto_regular,
                          $font-weight: s.$font-weight-regular,
                          $font-size-map: s.$responsive-font-12-14,
                          $color: s.$pqTextGris
                        );
                      }

                      & > label:nth-of-type(4) {
                        @include s.Roboto-Regular;
                      }

                      & > .red {
                        @include s.responsive-font-format(
                          $font-family: s.$font-family-roboto_regular,
                          $font-weight: s.$font-weight-regular,
                          $font-size-map: s.$responsive-font-12-14,
                          $color: s.$pqRed
                        );
                      }

                      & > .green {
                        @include s.responsive-font-format(
                          $font-family: s.$font-family-roboto_regular,
                          $font-weight: s.$font-weight-regular,
                          $font-size-map: s.$responsive-font-12-14,
                          $color: s.$pqGreen2
                        );
                      }

                      & > .yellow {
                        @include s.responsive-font-format(
                          $font-family: s.$font-family-roboto_regular,
                          $font-weight: s.$font-weight-regular,
                          $font-size-map: s.$responsive-font-12-14,
                          $color: #e29d2a
                        );
                      }

                      & > label:nth-of-type(2),
                      label:nth-of-type(3),
                      label:nth-of-type(4) {
                        padding-left: 5px;
                      }
                    }

                    & > .settings {
                      @include s.flexRow;
                      align-items: baseline;
                      & > .setting {
                        @include s.flexRow;
                        align-items: center;
                      }

                      & > label:nth-of-type(1) {
                        padding-right: 5px;
                      }

                      & .label-setting {
                        @include s.responsive-font-format(
                          $font-family: s.$font-family-roboto_regular,
                          $font-weight: s.$font-weight-regular,
                          $font-size-map: s.$responsive-font-12-14,
                          $color: s.$pqGreen
                        );
                      }
                    }
                  }
                }

                & > .client-selected {
                  border-left: solid 8px s.$pqGreen;
                  padding: 17px 19px 17px 11px !important;
                }
              }

              & > ::ng-deep .scrollable-content > .loading-more-clients {
                height: 50px !important;
                min-height: 50px !important;
              }

              & > ::ng-deep .scrollable-content > div:hover {
                background-color: #eceef0;
                cursor: pointer;
              }

              & > ::ng-deep .scrollable-content > .divActive {
                background-color: s.$pqGray2;
                pointer-events: none;
                & > .dfSelect {
                  width: 8px !important;
                  background: s.$pqGreen !important;
                  color: s.$pqGreen;
                }

                & > div:nth-child(2) {
                  width: calc(100% - 5px);
                  padding-left: 12px;
                }
              }
            }

            & > .loading-center {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              align-content: center;
              width: 100%;
              flex: 1;
            }

            & > .without-results {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              align-content: center;
              width: 100%;
              flex: 1;
            }
          }

          & > .total {
            @include s.flexRowNoWrap;
            height: 33px;
            justify-content: space-around;
            padding: 5px 0 8px;
            & .values {
              @include s.flexRow;
              justify-content: space-around;
              width: 100%;
              padding-right: 15px;
              padding-left: 15px;

              & > label {
                @include s.responsive-font-format(
                  $font-family: s.$font-family-roboto_regular,
                  $font-weight: s.$font-weight-regular,
                  $font-size-map: s.$responsive-font-10-12-b
                );
              }

              & > label:nth-of-type(1) {
                width: 40%;
              }

              & > label:nth-of-type(2) {
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
}
