<div class="dashboard-container" id="register-arrival-list">
  <div class="left-container">
    <label class="title">{{ 'registerArrival.forwarders' | translate }}</label>
    <div class="filters">
      <div class="filter-by-type">
        <app-hamburger-menu
          [options]="sortList$ | async"
          [value]="(sortOption$ | async).value"
          (valueEmit)="setOptionSort($event)"
        >
        </app-hamburger-menu>
      </div>
      <div class="filter-by-search">
        <app-search
          [placeholder]="'registerArrival.forwarders' | translate"
          [searchTerm]="searchTerm$ | async"
          (textSearch)="handleKeySearch($event)"
        >
        </app-search>
      </div>
    </div>
    <div class="list-container">
      <virtual-scroller
        *ngIf="(porters$ | async).length > 0 && !(isLoadingPorters$ | async)"
        [enableUnequalChildrenSizes]="true"
        [items]="porters$ | async"
        (vsUpdate)="listPortersScrollItems = $event"
      >
        <div *ngFor="let porter of listPortersScrollItems" class="porter">
          <div class="general-info">
            <div class="index">
              <label>#{{ porter.Index }}</label>
            </div>
            <div class="info">
              <div class="line-one" (click)="handleOpenPorter(porter)">
                <img alt="arrow" src="assets/Images/quotation/arrow_default.svg" [ngClass]="porter.isOpen ? 'open' : 'close'" />
                <label>{{ porter.NombreExportador }}</label>
              </div>
              <div class="line-two" (click)="setPorter(porter)">
                <label
                  >{{ porter.TotalGuias | number: '1.0-0' }}
                  {{ porter.TotalGuias === 1 ? ('registerArrival.guide' | translate) : ('registerArrival.guides' | translate) }}
                  ·</label
                >
                <label>{{ porter.MontoTotal | currency: 'USD':'symbol':'1.2-2' }}</label>
              </div>
              <div class="line-three" (click)="setPorter(porter)">
                <label
                  >{{ porter.TotalBultos | number: '1.0-0' }}
                  {{
                    porter.TotalBultos === 1
                      ? ('registerArrival.details.package' | translate)
                      : ('registerArrival.details.packages' | translate)
                  }}
                  ·</label
                >
                <label>FEA+: {{ porter.FechaMasProxima | dateFormatSlashShort }}</label>
              </div>
              <div class="line-four" (click)="setPorter(porter)">
                <label
                  >{{ porter.TotalNoArribadas | number: '1.0-0' }} {{ 'registerArrival.details.toArrived' | translate }}</label
                >
                <label [ngClass]="porter.TotalArribadas === 0 ? 'gray' : 'green'"
                  >· {{ porter.TotalArribadas }}
                  {{
                    porter.TotalArribadas === 1
                      ? ('registerArrival.details.arrived2' | translate)
                      : ('registerArrival.details.arrivedPlural' | translate)
                  }}</label
                >
              </div>
            </div>
            <div class="arrow" (click)="setPorter(porter)">
              <img alt="arrow" src="assets/Images/quotation/arrow_default.svg" />
            </div>
          </div>
          <div class="items" *ngIf="porter.isOpen">
            <div class="item" *ngFor="let item of porter.vRAImpOrdenDespacho; let i = index">
              <div class="column-one">
                <div class="line-one">
                  <label>#{{ i + 1 }} ·</label>
                  <label>{{ item.GuiaDeEmbarque }}</label>
                  <label>· {{ item.MontoTotalUSD | currency: 'USD':'symbol-narrow':'2.2-4' }}</label>
                </div>
                <div class="line-two">
                  <label>{{ item.Folio }}</label>
                </div>
                <div class="line-three">
                  <label
                    >{{ item.Bultos }}
                    {{
                      item.Bultos === 1
                        ? ('registerArrival.details.package' | translate)
                        : ('registerArrival.details.packages' | translate)
                    }}
                    ·</label
                  >
                  <label>FEA: {{ item.FechaHoraEstimadaArribo | dateFormatSlashShort }}</label>
                </div>
              </div>
              <div class="column-two">
                <label *ngIf="!item.Arribada">{{ 'registerArrival.details.toArrived' | translate }}</label>
                <label *ngIf="item.Arribada" class="green">{{ 'registerArrival.details.arrived2' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </virtual-scroller>
      <div class="without-results" *ngIf="(porters$ | async).length === 0 && !(isLoadingPorters$ | async)">
        <app-without-results></app-without-results>
      </div>
      <div class="loader" *ngIf="isLoadingPorters$ | async">
        <app-loading></app-loading>
      </div>
    </div>
    <div class="footer">
      <label>{{ '#' + ((totals$ | async).results | number: '1.0-0') }}</label>
      <label
        >{{ (totals$ | async).petitions | number: '1.0-0' }}
        {{
          (totals$ | async).petitions === 1
            ? ('registerArrival.petition' | translate)
            : ('registerArrival.petitions' | translate)
        }}</label
      >
      <label
        >{{ (totals$ | async).packages | number: '1.0-0' }}
        {{
          (totals$ | async).packages === 1 ? ('registerArrival.package' | translate) : ('registerArrival.packages' | translate)
        }}</label
      >
      <label
        >{{ 'common.totalAmount' | translate }}
        {{ ((totals$ | async).amountTotal ? (totals$ | async).amountTotal : 0) | currency: 'USD':'symbol-narrow':'2.2-4' }}
        {{ 'USD' }}</label
      >
    </div>
  </div>
  <div class="right-container">
    <ng-container *ngIf="true">
      <app-doughnut-chart
        *ngIf="!(isLoadingDonutChart$ | async)"
        [data]="doughnutChartData$ | async"
        [optionDetailsHover]="doughnutChartOptionDetailsHover$ | async"
        [optionDetails]="doughnutChartOptionDetails$ | async"
        [titleDetails]="'Totales'"
        [title]="'registerArrival.forwardersAA' | translate"
        [typeChart]="1"
      >
      </app-doughnut-chart>
      <app-doughnut-chart
        *ngIf="!(isLoadingDonutChart$ | async)"
        [titleDetails]="'donutChart.titleTotals' | translate"
        [title]="'registerArrival.guides' | translate"
        [typeChart]="1"
      >
      </app-doughnut-chart>
    </ng-container>
    <div class="loading" *ngIf="isLoadingDonutChart$ | async">
      <app-loading></app-loading>
    </div>
  </div>
</div>
