@use 'base' as s;

:host {
  @include s.absolute100;
  @include s.flexRow;
  @include s.reset-line-height;
  align-items: center;
  justify-content: center;

  #pop-up-container {
    @include s.absolute100;
    @include s.flexRow;
    @include s.reset-line-height;
    align-items: center;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 6;

    &.full {
      position: fixed;
    }

    &.enableBackground {
      background-color: rgb(s.$pqBlack2, 0.7);
    }

    & > .content {
      @include s.flexColumn;
      overflow: hidden;

      & > .header-pop-up {
        @include s.flexRow;
        align-items: center;
        background-color: s.$pqGreen;
        border-radius: 16px 16px 0 0;
        flex: 0 0 56px;
        justify-content: center;
        position: relative;

        & > label {
          @include s.responsive_font-format(
            $font-family: s.$font_family_roboto_bold,
            $font-size-map: s.$responsive-font-24-24,
            $color: s.$dark-proquifa-f
          );
        }

        & > img {
          @include s.cursor-pointer;
          position: absolute;
          right: 0;
          margin-right: 14px;
          height: 24px;
        }
      }

      & > .body-pop-up {
        @include s.flexColumn;
        align-items: center;
        background-color: s.$dark-proquifa-f;
        border-radius: 0 0 16px 16px;
        flex: 1;
        overflow: auto;

        & > .dynamic-content {
          flex: 1;
          overflow: hidden;
          width: 100%;
        }

        & > .buttons-container {
          @include s.flexRow;
          flex: 0 0 auto;
          gap: 126px;
          margin-top: 44px;

          & > .secondary-button-sm {
            @include s.pqf-button($version: s.$empty, $type: s.$secondary, $height: s.$short, $width: s.$sm);
          }

          & > .secondary-button-md {
            @include s.pqf-button($version: s.$empty, $type: s.$secondary, $height: s.$short, $width: s.$md);
          }

          & > .secondary-button-lg {
            @include s.pqf-button($version: s.$empty, $type: s.$secondary, $height: s.$short, $width: s.$lg);
          }

          & > .secondary-button-xl {
            @include s.pqf-button($version: s.$empty, $type: s.$secondary, $height: s.$short, $width: s.$xl);
          }

          & > .primary-button-sm {
            @include s.pqf-button($version: s.$full, $type: s.$primary, $height: s.$short, $width: s.$sm);
          }

          & > .primary-button-md {
            @include s.pqf-button($version: s.$full, $type: s.$primary, $height: s.$short, $width: s.$md);
          }

          & > .primary-button-lg {
            @include s.pqf-button($version: s.$full, $type: s.$primary, $height: s.$short, $width: s.$lg);
          }

          & > .primary-button-xl {
            @include s.pqf-button($version: s.$full, $type: s.$primary, $height: s.$short, $width: s.$xl);
          }

          & > .disabled-button-sm {
            @include s.pqf-button($version: s.$full, $type: s.$disable, $height: s.$short, $width: s.$sm);
          }

          & > .disabled-button-md {
            @include s.pqf-button($version: s.$full, $type: s.$disable, $height: s.$short, $width: s.$md);
          }

          & > .disabled-button-lg {
            @include s.pqf-button($version: s.$full, $type: s.$disable, $height: s.$short, $width: s.$lg);
          }

          & > .disabled-button-xl {
            @include s.pqf-button($version: s.$full, $type: s.$disable, $height: s.$short, $width: s.$xl);
          }
        }
      }
    }
  }
}
