<div class="list-price-container">
  <div class="left-container">
    <label class="title">{{ 'formProvider.step8.titleListPrice' | translate }}</label>
    <div class="class-search">
      <app-search
        [placeholder]="'Costo'"
        [searchTerm]="searchTerm$ | async"
        [typeValidation]="validators.NumberAndDots"
        (textSearch)="handleSearch($event)"
      ></app-search>
      <img
        alt="Filtrar"
        [src]="
          (hasConfiguration$ | async) ? 'assets/Images/clientes/enfoque.svg' : 'assets/Images/clientes/enfoque_default.svg'
        "
        (click)="filterConfiguredPrices()"
      />
    </div>
    <div class="price-list-container" *ngIf="!lodashIsEmpty(pricesResults$ | async)">
      <virtual-scroller
        class="price-list"
        [items]="pricesResults$ | async"
        (vsUpdate)="pricesResults = $event"
        (vsEnd)="fetchMorePrices($event)"
      >
        <app-list-price-item
          class="price-item"
          *ngFor="let price of pricesResults"
          [price]="price"
          (selectedPriceChange)="selectPrice($event)"
        ></app-list-price-item>
      </virtual-scroller>
      <div class="loading" *ngIf="!lodashIsEmpty(pricesResults$ | async) && (pricesList$ | async).isLoading">
        <app-loading></app-loading>
      </div>
    </div>
    <div class="loading" *ngIf="lodashIsEmpty(pricesResults$ | async) && (pricesList$ | async).isLoading">
      <app-loading></app-loading>
    </div>
    <div class="without-results" *ngIf="lodashIsEmpty(pricesResults$ | async) && !(pricesList$ | async).isLoading">
      <app-without-results></app-without-results>
    </div>
    <div class="footer">
      <label>
        #{{ (pricesList$ | async).pricesList?.TotalResults }}
        {{
          (pricesList$ | async).pricesList?.TotalResults === 1
            ? ('formProvider.step8.cost' | translate)
            : ('formProvider.step8.costs' | translate)
        }}
      </label>
    </div>
  </div>
  <div class="right-container" *ngIf="!lodashIsEmpty(actualConfiguration)">
    <div class="tabs">
      <app-options-bar
        [marginBottom]="'0px'"
        [options]="levelSubConfigurationTabs"
        [showArrows]="false"
        (handleOptionSelected)="selectLevelSubConfigurationTab($event)"
      ></app-options-bar>
    </div>
    <div class="center-container">
      <div class="price-container" *ngIf="selectedLevelSubConfiguration.label === subTabs.Cost">
        <div class="provider-list-price">
          <app-provider-list-price
            [activeConsolidatedCheck]="false"
            [actualConfiguration]="actualConfiguration"
            [enableEdit]="enableEdit"
            [isMexican]="providerIsMexican"
            [price]="selectedPrice$ | async"
            [showListPrice]="true"
            [viewType]="viewType"
          ></app-provider-list-price>
        </div>
        <div class="discount-freight">
          <app-discount-freight
            [actualConfiguration]="actualConfiguration"
            [enableEdit]="enableEdit"
            [isMexican]="providerIsMexican"
            [viewType]="viewType"
          >
          </app-discount-freight>
        </div>
        <div class="import" *ngIf="!providerIsMexican">
          <app-import [actualConfiguration]="actualConfiguration" [enableEdit]="enableEdit" [viewType]="viewType"></app-import>
        </div>
        <div class="custom-agent-cost" *ngIf="!providerIsMexican">
          <app-custom-agent-cost [actualConfiguration]="actualConfiguration" [enableEdit]="enableEdit" [viewType]="viewType">
          </app-custom-agent-cost>
        </div>
        <div class="expenses" *ngIf="!providerIsMexican">
          <app-expenses [actualConfiguration]="actualConfiguration" [enableEdit]="enableEdit"></app-expenses>
        </div>
      </div>
      <div class="performance" *ngIf="selectedLevelSubConfiguration.label === subTabs.Performance">
        <app-performance
          [actualConfiguration]="actualConfiguration"
          [enableEdit]="enableEdit"
          [industryFamily]="industryFamily"
          [isHoveColorOriginal]="false"
          [isMexican]="providerIsMexican"
          [viewType]="viewType"
        ></app-performance>
      </div>
      <div class="send-time-container" *ngIf="selectedLevelSubConfiguration.label === subTabs.logisticsTimes">
        <div class="routes-list">
          <h4 class="green-title">{{ 'formProvider.step8.subtitles.route' | translate }}</h4>
          <div class="routes-container">
            <app-delivery-routes [deliveryRoutes]="deliveryRoutes" [enableEdit]="enableEdit"></app-delivery-routes>
          </div>
        </div>
        <div class="route-details">
          <app-logistics-times [isMexican]="providerIsMexican"></app-logistics-times>
        </div>
      </div>
    </div>
  </div>
  <div class="without-results" *ngIf="lodashIsEmpty(actualConfiguration)">
    <app-without-results [title]="'formProvider.step8.notSelectedPriceMessage' | translate"> </app-without-results>
  </div>
</div>
