<div class="checks-container" *ngIf="typeOptions.OnlyCheckBoxRedGreen !== columnOptions?.typeOption">
  <img
    #imageElementDisable
    alt="NoValidada"
    *ngIf="columnOptions?.value || columnOptions?.value === null || columnOptions?.value == false"
    [ngClass]="columnOptions?.value || columnOptions?.value === null ? 'img-opacity' : ''"
    [src]="'assets/Images/pre-processing/disable.svg'"
    (click)="handleCheck($event, imageElementDisable, false, nameActionsInternalSalesItem.CheckBoxRedGreenAction)"
  />
  <img
    #imageElementActive
    alt="Validada"
    *ngIf="columnOptions?.value || columnOptions?.value === null || columnOptions?.value == false"
    [ngClass]="!columnOptions?.value || columnOptions?.value === null ? 'img-opacity' : ''"
    [src]="'assets/Images/pre-processing/active.svg'"
    (click)="handleCheck($event, imageElementActive, true, nameActionsInternalSalesItem.CheckBoxRedGreenAction)"
  />
</div>
<div class="checks-container" *ngIf="typeOptions.OnlyCheckBoxRedGreen === columnOptions?.typeOption">
  <img
    #imageElementActive
    alt="Validada"
    *ngIf="columnOptions?.value || columnOptions?.value === null || columnOptions?.value == false"
    [src]="'assets/Images/pre-processing/' + (columnOptions?.value ? 'active.svg' : 'disable.svg')"
    (click)="handleCheck($event, imageElementActive, columnOptions?.value, nameActionsInternalSalesItem.CheckBoxRedGreenAction)"
  />
</div>
