<div class="product-container">
  <div class="left-container">
    <label class="title">{{ 'formProvider.step8.titleProduct' | translate }}</label>
    <div class="drop-list-container">
      <app-drop-down-list
        [itemSelected]="searchFilter$ | async"
        [items]="searchFilterOptions$ | async"
        (valueDropList)="selectSearchFilter($event)"
      >
      </app-drop-down-list>
    </div>
    <div class="search-container">
      <app-search [placeholder]="'Buscar'" [searchTerm]="searchTerm$ | async" (textSearch)="handleSearch($event)"></app-search>
      <img
        alt="filtrar"
        [src]="
          (hasConfiguration$ | async) ? 'assets/Images/clientes/enfoque.svg' : 'assets/Images/clientes/enfoque_default.svg'
        "
        (click)="filterConfiguredProducts()"
      />
    </div>
    <div class="product-list-container" *ngIf="!lodashIsEmpty(productsResults$ | async)">
      <virtual-scroller
        class="product-list"
        [enableUnequalChildrenSizes]="true"
        [items]="productsResults$ | async"
        (vsEnd)="fetchMoreProducts($event)"
        (vsUpdate)="productsResults = $event"
      >
        <app-product-item
          class="product-item"
          *ngFor="let product of productsResults; trackBy: handleTrackByProduct"
          [product]="product"
          (selectedProductChange)="selectProduct(product)"
        ></app-product-item>
      </virtual-scroller>
      <div class="loading" *ngIf="(products$ | async).isLoading">
        <app-loading></app-loading>
      </div>
    </div>
    <div class="loading" *ngIf="lodashIsEmpty(productsResults$ | async) && (products$ | async).isLoading">
      <app-loading></app-loading>
    </div>
    <div class="without-results" *ngIf="lodashIsEmpty(productsResults$ | async) && !(products$ | async).isLoading">
      <app-without-results></app-without-results>
    </div>
    <div class="footer">
      <label>
        #{{ (products$ | async).productsList?.TotalResults }}
        {{
          (products$ | async).productsList?.TotalResults === 1
            ? ('common.product' | translate)
            : ('common.products' | translate)
        }}
      </label>
    </div>
  </div>
  <div class="right-container" *ngIf="!lodashIsEmpty(actualConfiguration)">
    <div class="tabs">
      <app-options-bar
        [marginBottom]="'0px'"
        [optionMinWidth]="'190px'"
        [options]="levelSubConfigurationTabs"
        [showArrows]="false"
        (handleOptionSelected)="selectLevelSubConfigurationTab($event)"
      ></app-options-bar>
      <app-see-breakdown
        class="breakdown"
        *ngIf="!hasConfigurationProvider"
        [actualConfiguration]="actualConfiguration"
      ></app-see-breakdown>
    </div>
    <div class="center-container">
      <div class="price-container" *ngIf="selectedLevelSubConfiguration.label === subTabs.Cost">
        <div class="provider-list-price">
          <app-provider-list-price
            [actualConfiguration]="actualConfiguration"
            [enableEdit]="enableEdit"
            [isMexican]="isMexican"
            [price]="productSelected$ | async"
            [showListPrice]="true"
            [viewType]="viewType"
          ></app-provider-list-price>
        </div>
        <div class="discount-freight">
          <app-discount-freight
            [actualConfiguration]="actualConfiguration"
            [enableEdit]="enableEdit"
            [isMexican]="isMexican"
            [viewType]="viewType"
          >
          </app-discount-freight>
        </div>
        <div class="import" *ngIf="!isMexican">
          <app-import
            [actualConfiguration]="actualConfiguration"
            [enableEdit]="enableEdit"
            [isMexican]="isMexican"
            [viewType]="viewType"
          >
          </app-import>
        </div>
        <div class="custom-agent-cost" *ngIf="!isMexican">
          <app-custom-agent-cost
            [actualConfiguration]="actualConfiguration"
            [enableEdit]="enableEdit"
            [isMexican]="isMexican"
            [viewType]="viewType"
          >
          </app-custom-agent-cost>
        </div>
        <div class="expenses" *ngIf="!isMexican">
          <app-expenses [actualConfiguration]="actualConfiguration" [enableEdit]="enableEdit" [isMexican]="isMexican">
          </app-expenses>
        </div>
        <div class="fixed">
          <app-fixed [enableEdit]="enableEdit" [actualConfiguration]="actualConfiguration" [isMexican]="isMexican"></app-fixed>
        </div>
        <div class="utility">
          <app-utility
            [viewType]="viewType"
            [enableEdit]="enableEdit"
            [actualConfiguration]="actualConfiguration"
            [isMexican]="isMexican"
          >
          </app-utility>
        </div>
      </div>
      <div class="performance" *ngIf="selectedLevelSubConfiguration.label === subTabs.Performance"></div>
      <div class="send-time-container" *ngIf="selectedLevelSubConfiguration.label === subTabs.logisticsTimes">
        <div class="routes-list">
          <h4 class="green-title">{{ 'formProvider.step8.subtitles.route' | translate }}</h4>
          <h5 class="route-name">{{ actualConfiguration?.ValorConfiguracionTiempoEntrega?.routeName || 'N/D' }}</h5>
        </div>
        <div class="route-details">
          <app-client-logistics-times
            [actualConfiguration]="actualConfiguration"
            [enableEdit]="enableEdit"
            [isMexican]="isMexican"
            [viewType]="viewType"
          ></app-client-logistics-times>
        </div>
      </div>
    </div>
  </div>
  <div class="without-results" *ngIf="lodashIsEmpty(actualConfiguration)">
    <app-without-results [title]="'formProvider.step8.notSelectedProductMessage' | translate"> </app-without-results>
  </div>
</div>
<!---->
