@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  @include s.absolute100;
  @include s.flexColumn;
  padding: 0 15px;
  flex: 1 1 auto;

  & > .header {
    display: grid;
    grid-template-columns: 125px 1fr;
    grid-column-gap: 20px;
    margin-top: 20px;

    & > .image {
      @include s.gridCenter;
    }

    & > .data {
      @include s.flexColumn;
      flex: 1;
      justify-content: center;
      margin-left: 15px;

      & > .title {
        @include s.Novecento-Bold;
        @include s.escaledFontFormatImportant(s.$textSize22to28, bold, s.$pqGreen);
        text-align: initial;
      }

      & > .flex-content {
        @include s.flexRowNoWrap;
        gap: 16px;

        & > .info {
          @include s.flexColumn;

          & > .contact {
            @include s.flexRow;

            & > .icon {
              @include s.flexRow;
              @include s.absoluteCenter;
              height: 22px;
              width: 22px;

              & > img {
                max-height: 80%;
                max-width: 60%;
              }
            }

            & > .text {
              @include s.flexRow;
              align-items: center;
              margin-left: 5px;

              & > label {
                @include s.Roboto-Regular;
                @include s.escaledFontFormat(s.$textSize14to16, regular, s.$pqBlack2);
                @include s.multiLineTextTruncateSinHeight(2, normal, rgba(255, 255, 255, 1), rgba(25, 255, 255, 0));
              }
            }
          }
        }

        & > .phone {
          @include s.flexRow;

          & > .icon {
            @include s.flexRow;
            @include s.absoluteCenter;
            height: 22px;
            width: 22px;

            & > img {
              max-height: 100%;
              max-width: 100%;
            }
          }

          & > .text {
            @include s.flexRow;
            align-items: center;
            margin-left: 5px;

            & > label {
              @include s.Roboto-Regular;
              @include s.escaledFontFormat(s.$textSize14to16, regular, s.$pqBlack2);
            }
          }
        }
      }
    }
  }

  & > .aqua-content {
    margin-top: 15px;

    & > .title {
      @include s.flexRow;
      margin-bottom: 30px;

      & > label {
        @include s.Novecento-Bold;
        @include s.escaledFontFormatImportant(s.$textSize15to18, bold, s.$pqGreen);
      }
    }
  }

  & > .input-content {
    display: grid;
    grid-template-columns: 1.5fr repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    & > .municipality {
      grid-area: 3 / 1 / 4 / 4;
    }
  }

  & > .required-field {
    @include s.flexRow;
    margin: 10px 10px 0 0;
    justify-content: flex-end;

    & > label {
      @include s.Roboto-Regular;
      @include s.escaledFontFormatImportant(s.$textSize12to14, regular, s.$pqGreen);
    }
  }

  @include s.responsive_layout('macBookAir') {
    & > footer {
      height: 50px;

      & > .footer {
        height: 50px;
        padding: 0 15px;
      }
    }
  }
}
