@use 'base' as s;

:host {
  width: 100%;
  height: 100%;

  & > .item {
    @include s.flexColumn;
    width: 100%;
    border-bottom: 1px solid s.$pqGray2;
    min-width: 1707px;

    &.deleted {
      background-color: rgba(s.$dark-proquifa-e, 1);
    }

    &.added {
      background-color: rgba(s.$pqGreen2, 0.15);
    }

    &.replaced {
      background-color: rgba(s.$oliveGreen, 0.28);

      & > .top {
        padding-bottom: 8px;
      }

      & > .bottom {
        padding-top: 8px;
      }
    }

    &.incidence {
      background-color: s.$orangeLight;
    }

    & > .incidence {
      @include s.flexRow;
      justify-content: flex-start;
      background-color: s.$orangeLight;
      padding: 12px;
      position: relative;
      min-width: 1750px;
      & > .tab {
        width: 14px;
        height: 14px;
        position: absolute;
        top: -7px;
        left: 15px;
        transform: rotate(45deg);
        background-color: s.$orangeLight;
      }

      & > .content {
        @include s.flexColumn;
        flex: 1;
        align-items: flex-start;

        & > div:nth-child(1) {
          margin-bottom: 8px;

          & > label {
            @include s.escaledFontFormat(s.$textSize13to14, bold, s.$pqBlack2);
            @include s.Roboto-Bold;
          }
        }

        & > div:nth-child(2) {
          @include s.flexRow;
          width: 100%;
          column-gap: 90px;
          align-items: center;
          margin-bottom: 12px;
        }

        & > div:nth-child(3) {
          @include s.flexRow;
          justify-content: flex-start;
          align-items: center;
          width: 100%;

          & > label {
            @include s.escaledFontFormat(s.$textSize13to14, bold, s.$pqBlack2);
            @include s.Roboto-Bold;
            margin-right: 5px;
          }
        }
      }

      & > .image {
        @include s.flexColumn;
        @include s.absoluteCenter;
        width: 130px;
        height: 100%;

        & > img {
          width: 65px;
          height: 13px;
        }
      }
    }

    & > div {
      @include s.flexRow;
      align-items: center;
      padding: 8px 3px;

      & > div {
        @include s.flexRow;
        align-items: center;
      }

      & label {
        @include s.escaledFontFormat(s.$textSize12to14, regular, s.$pqBlack2);
        @include s.Roboto-Regular;
      }

      & > .buttons-column {
        @include s.flexRow;
        @include s.absoluteCenter;
        width: 73px;

        & > img {
          width: 20px;
          height: 20px;
          cursor: pointer;
          transition: opacity 0.3s ease;

          &.img-opacity {
            opacity: 0.2;
          }

          &:hover {
            opacity: 1;
          }

          &:first-of-type {
            margin-right: 17px;
          }
        }
      }

      & > .number-column {
        width: 30px;
        justify-content: center;

        & > label {
          @include s.Roboto-Bold;
        }
      }

      & > .type-column {
        @include s.flexRow;
        @include s.absoluteCenter;
        width: 30px;

        & > img {
          width: 16px;
        }
      }

      & > .concept-column {
        @include s.flexColumn;
        padding: 0 10px;
        min-width: 290px;
        justify-content: flex-start;
        align-items: flex-start;
      }

      & > .brand {
        min-width: 160px;
        align-items: flex-end;

        & > label {
          @include s.escaledFontFormat(s.$textSize12to14, '', s.$pqBlack2);
          @include s.Roboto-Light;
        }

        & > .img-brand {
          width: 25px;
        }
      }

      & > .days-column {
        @include s.flexColumn;
        width: 120px;
        justify-content: center;

        & > label {
          @include s.escaledFontFormat(s.$textSize12to14, '', s.$pqBlack2);
          @include s.Roboto;
        }

        & > .express-freight {
          color: s.$alert-c;
        }

        & > .programming {
          color: s.$complementario-c;
        }

        & > .regular {
          color: s.$pqGreen2;
        }
      }

      & > .pieces-column {
        width: 45px;
        justify-content: center;

        & > .floating-container {
          position: relative;

          & > label {
            color: s.$pqGreen;
            text-decoration: underline;
            cursor: pointer;

            &.no-underline {
              text-decoration: none;
              cursor: default;
            }
          }

          & > .pieces-floating-input {
            width: 60px;
            height: 28px;
            background-color: s.$pqWhite;
            border: 1px solid #d8d9dd;
            box-sizing: border-box;
            position: absolute;
            top: calc(100% + 8px);
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            &::before {
              content: '';
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid #d8d9dd;
              position: absolute;
              top: -10px;
              left: calc(50% - 10px);
            }

            &::after {
              content: '';
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 9px solid s.$pqWhite;
              position: absolute;
              top: -9px;
              left: calc(50% - 8px);
            }

            & > input {
              @include s.escaledFontFormat(s.$textSize13to19, bold, s.$pqGreen);
              @include s.Roboto-Bold;
              width: calc(100% - 18px);
              height: 100%;
              background-color: s.$pqWhite;
              border-radius: 2px;
              box-sizing: border-box;
              border: 0;
              outline: none;
              padding: 0 5px;
              text-align: center;
            }

            & > img {
              width: 13px;
              position: absolute;
              right: 4px;
            }

            & > img:nth-of-type(1) {
              transform: rotate(180deg);
              top: calc(50% - 9px);
            }

            & > img:nth-of-type(2) {
              top: calc(50% + 3px);
            }
          }
        }
      }

      & > .iva-column,
      & > .subtotal-column {
        width: 145px;
        padding: 0 10px;
        justify-content: flex-end;

        & > label {
          @include s.Roboto-Light;
        }
      }

      & > .price-column {
        @include s.flexColumn;
        width: 175px;
        justify-content: center;
        align-items: flex-end;

        & > .floating-container {
          position: relative;

          & > label {
            text-decoration: underline;
            cursor: pointer;

            &.no-underline {
              text-decoration: none;
              cursor: default;
            }

            &.gold {
              color: s.$gold;
              font-weight: bold;
            }
          }

          & > .floating-input {
            width: 192px;
            padding-top: 12px;
            background-color: s.$pqWhite;
            border: 1px solid s.$boxShadow;
            position: absolute;
            left: 50%;
            top: 26px;
            z-index: 1;
            margin-left: -96px;
            box-shadow: 0 0 7px -1px rgba(s.$pqBlack2, 0.5);

            & > div:nth-child(1) {
              @include s.flexColumn;
              @include s.absoluteCenter;
              height: 35px;
              width: 100%;
              background-color: rgba(s.$pqGreen, 0.05);
              margin-bottom: 15px;

              & > label {
                @include s.escaledFontFormat(s.$textSize12to15, regular, s.$pqGreen);
                @include s.Roboto-Regular;
                text-align: center;
              }
            }

            & > div:nth-child(2) {
              @include s.flexRow;
              @include s.absoluteCenter;
              padding-bottom: 15px;

              & > input {
                width: 97px;
                margin-right: 4px;
                text-align: center;
                color: s.$pqGreen2;
                border-color: s.$boxShadow;
                transition: all 0.3s ease;

                &.warning {
                  color: s.$redWarning;
                  border-color: s.$redWarning;
                }
              }

              & > label {
                @include s.escaledFontFormat(s.$textSize12to15, bold, s.$pqGreen2);
                @include s.Roboto-Bold;
              }
            }

            & > div:nth-child(3) {
              @include s.flexRow;
              @include s.absoluteCenter;
              background-color: s.$redWarning;
              transition: all 0.3s ease-in-out;
              overflow: hidden;

              & > label {
                @include s.escaledFontFormat(s.$textSize13to15, regular, s.$pqWhite);
                @include s.Roboto-Regular;
                text-align: center;
              }
            }

            & > div.visible {
              height: 43px;
              padding: 0 20px;
            }

            & > div.invisible {
              height: 0 !important;
              /*overflow: hidden!important;*/
            }
          }

          & > .triangle {
            border-top: solid 1px s.$boxShadow;
            border-left: solid 1px s.$boxShadow;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 19px;
            left: 50%;
            margin-left: -7px;
            transform: rotate(45deg);
            background-color: s.$pqWhite;
            z-index: 3;
            box-shadow: -3px -3px 6px -4px rgba(s.$pqBlack2, 0.5);
          }
        }

        & > .gold {
          @include s.escaledFontFormat(s.$textSize11to12, regular, s.$gold);
          @include s.Roboto-Regular;
          text-decoration: none;
        }
      }

      & > .subtotal-column {
        & > label {
          color: s.$pqGreen;
        }
      }

      & > .total-column {
        @include s.flexColumn;
        width: 197px;
        justify-content: center;
        align-items: flex-end;

        &.tooltip {
          @include s.tooltip(197px, auto, 130px, 130px);
        }

        & > div {
          position: relative;

          & > label {
            @include s.Roboto-Bold;
            color: s.$pqGreen;
          }
        }
      }

      & > .percentage-column {
        @include s.flexRow;
        align-items: center;
        width: 50px;
        margin-left: 5px;

        & > img {
          width: 9px;
          height: 11px;
          margin: 0 3px 2px 0;
        }

        & label {
          @include s.escaledFontFormat(s.$textSize10to12, regular, s.$pqBlack2);
          @include s.Roboto-Bold;
        }
      }
    }
  }

  //@include responsive_layout('macBookAir') {
  //  & .item {
  //    &.incidence {
  //      background-color: $orangeLight;
  //    }
  //
  //    & > .incidence {
  //      background-color: $orangeLight;
  //      padding: 12px 12px 12px 70px;
  //    }
  //
  //    & > div {
  //      & > .buttons-column {
  //        & > img {
  //          width: 25px;
  //          height: 25px;
  //
  //          &:first-of-type {
  //            margin-right: 11px;
  //          }
  //        }
  //      }
  //
  //      & > .number-column {
  //        width: 37px;
  //      }
  //
  //      & > .type-column {
  //        width: 32px;
  //
  //        & > img {
  //          width: 25px;
  //        }
  //      }
  //
  //      & > .percentage-column {
  //        width: 70px;
  //      }
  //
  //      & > .concept-column {
  //        & > div:nth-child(1) {
  //          @include multiLineTextTruncateSinHeight(1, normal, rgba(255, 255, 255, 1), rgba(25, 255, 255, 0));
  //        }
  //      }
  //
  //      & > .price-column,
  //      & > .iva-column,
  //      & > .subtotal-column,
  //      & > .total-column {
  //        width: 130px !important;
  //      }
  //
  //      & > .price-column {
  //        & > .floating-container {
  //          & > .floating-input {
  //            padding-top: 16px;
  //            width: 200px;
  //            margin-left: -100px;
  //
  //            & > div:nth-child(1) {
  //              height: 39px;
  //              margin-bottom: 25px;
  //
  //              & > label {
  //                @include escaledFontFormat($textSize12to15, regular, $pqGreen);
  //                @include Roboto-Regular;
  //                text-align: center;
  //              }
  //            }
  //
  //            & > div:nth-child(2) {
  //              padding-bottom: 25px;
  //
  //              & > input {
  //                width: 120px;
  //              }
  //            }
  //
  //            & > div.visible {
  //              height: 58px;
  //              padding: 10px 30px;
  //            }
  //
  //            & > div.invisible {
  //              height: 0 !important;
  //              /*overflow: hidden!important;*/
  //            }
  //          }
  //        }
  //      }
  //    }
  //  }
  //}
}
