<div class="dashboard-container" id="process-purchase-list">
  <div class="left-container">
    <label class="title">{{ 'processPurchase.providers' | translate }}</label>
    <div class="tabs">
      <app-tabs [options]="tabs$ | async" [tapSelected]="tab$ | async" (onSelectOption)="setTab($event)"></app-tabs>
    </div>
    <div class="filters">
      <div class="filter-by-type">
        <app-hamburger-menu [options]="sortList$ | async" [value]="(sort$ | async).value" (valueEmit)="setTypeSort($event)">
        </app-hamburger-menu>
      </div>
      <div class="filter-by-search">
        <app-search
          [placeholder]="'processPurchase.provider' | translate"
          [searchTerm]="searchTerm$ | async"
          (textSearch)="handleKeySearch($event)"
        >
        </app-search>
      </div>
    </div>
    <div class="list-container">
      <virtual-scroller
        *ngIf="(providers$ | async).length > 0 && !(isLoadingList$ | async)"
        [items]="providers$ | async"
        (vsUpdate)="listProviderScrollItems = $event"
        (vsEnd)="fetchMore($event)"
      >
        <div class="client" *ngFor="let provider of listProviderScrollItems" (click)="setProvider(provider)">
          <div class="index">
            <label>{{ '#' + provider.Index }}</label>
          </div>
          <div>
            <div class="name">
              <label>{{ provider.Nombre }}</label>
            </div>
            <div class="classification">
              <label>{{
                provider.Productos +
                  ' ' +
                  (provider.Productos === 1 ? ('common.product' | translate) : ('common.products' | translate))
              }}</label>
              <label>·</label>
              <label>{{
                provider.NumeroDePiezas +
                  ' ' +
                  (provider.NumeroDePiezas === 1
                    ? ('strategy.details.piece' | translate)
                    : ('strategy.details.pieces' | translate))
              }}</label>
              <label>·</label>
              <label>{{
                ((provider.TotalUSD ? provider.TotalUSD : 0) | currency: 'USD':'symbol-narrow':'0.2-4') + ' USD'
              }}</label>
            </div>
            <div class="states">
              <img alt="" src="assets/Images/labels/regulares.svg" />
              <label class="regular">{{ provider.NumeroDePiezasRegulares }}</label>
              <label>·</label>
              <img alt="" src="assets/Images/labels/programadas.svg" />
              <label>{{ provider.NumeroDePiezasProgramadas }}</label>
              <label>·</label>
              <img alt="" src="assets/Images/labels/flete_express.svg" />
              <label class="expressFreight">{{ provider.NumeroDePiezasFleteExpress }}</label>
            </div>
          </div>
          <div class="arrow">
            <img alt="arrow" src="assets/Images/quotation/arrow_default.svg" />
          </div>
        </div>
      </virtual-scroller>
      <div class="without-results" *ngIf="(providers$ | async).length === 0 && !(isLoadingList$ | async)">
        <app-without-results></app-without-results>
      </div>
      <div class="loader" *ngIf="isLoadingList$ | async">
        <app-loading></app-loading>
      </div>
    </div>
    <div class="footer">
      <label>{{ '#' + (totalProvider$ | async | number: '1.0-0') }}</label>
      <label>{{
        ((totals$ | async).totProducts | number: '1.0-0') + ((totals$ | async).totProducts === 1 ? ' Producto' : ' Productos')
      }}</label>
      <label>{{
        ((totals$ | async).totPieces | number: '1.0-0') + ((totals$ | async).totPieces === 1 ? ' Pieza' : ' Piezas')
      }}</label>
      <label>{{ 'Monto Total ' + (totals$ | async).totAmount }}</label>
    </div>
  </div>
  <div class="right-container">
    <ng-container *ngIf="true">
      <app-doughnut-chart
        *ngIf="isSuccessCharts$ | async"
        [data]="doughnutDataProvider$ | async"
        [optionDetailsHover]="doughnutOptionsDetailsProviderHover$ | async"
        [optionDetails]="doughnutOptionsDetailsProvider$ | async"
        [titleDetails]="'Totales'"
        [title]="'processPurchase.providers' | translate"
        [typeChart]="1"
      >
      </app-doughnut-chart>
      <app-doughnut-chart
        *ngIf="isSuccessCharts$ | async"
        [data]="doughnutDataTransit$ | async"
        [optionDetailsHover]="doughnutOptionsDetailsTransitHover$ | async"
        [optionDetails]="doughnutOptionsDetailsTransit$ | async"
        [titleDetails]="'Totales'"
        [title]="'processPurchase.typeOfTransit' | translate"
        [typeChart]="1"
      >
      </app-doughnut-chart>
      <app-doughnut-chart
        *ngIf="isSuccessCharts$ | async"
        [data]="doughnutDataPL$ | async"
        [optionDetailsHover]="doughnutOptionsDetailsPLHover$ | async"
        [optionDetails]="doughnutOptionsDetailsPL$ | async"
        [titleDetails]="'Totales'"
        [title]="'processPurchase.productLine' | translate"
        [typeChart]="1"
      ></app-doughnut-chart>
    </ng-container>
    <div class="loading" *ngIf="isLoadingList$ | async">
      <app-loading></app-loading>
    </div>
  </div>
</div>
