@use 'base' as s;

* {
  box-sizing: border-box;
}

:host {
  $left-container-flex: (
    'base': 580px,
    'macBookAir': 680px,
  );
  $graphics-padding: (
    'base': 25px 30px,
    'macBookAir': 35px 0px,
  );
  $graphics-structure: (
    'top': 1,
    'bottom': 2,
  );
  $graphics-gap: (
    'base': 25px 30px,
    'macBookAir': 40px 30px,
  );

  @include s.pending-dashboard-structure($left-container-flex, $graphics-padding, $graphics-structure, $graphics-gap);

  #attend-review-payment-list {
    & > .left-container {
      & > .filters {
        & > div:nth-of-type(1) {
          flex: 0 1 160px;
          @include s.responsive_layout('macBookAir') {
            flex: 0 1 170px;
          }
        }

        & > div:nth-of-type(2) {
          flex: 1 0 auto;
        }

        & > div {
          @include s.flexRow;
          align-items: center;
          justify-content: center;
          width: 50%;
        }
      }

      & > .list-container {
        & > virtual-scroller {
          @include s.fixVirtualScroller;
          height: 100%;
          width: 100%;
        }

        .provider {
          @include s.flexRowNoWrap;
          //padding: 17px 20px 40px 20px;
          border-bottom: 1px solid s.$pqGray2;
          box-sizing: border-box;
          flex: 1 1 auto;
          padding: 15px 0 15px 15px;

          & * {
            cursor: pointer;
          }

          &:hover {
            background-color: s.$pqGray2;
            cursor: pointer;
          }

          & > .index {
            @include s.absoluteTop;
            @include s.flexRowNoWrap;
            box-sizing: border-box;
            justify-content: flex-start;
            padding-left: 10px;
            width: 55px;

            & > label:nth-of-type(1) {
              @include s.Roboto-Regular;
              @include s.escaledFontFormat(s.$textSize21to28, bold, s.$pqBlack2);
              margin-top: 2px;
            }
          }

          & > div:nth-of-type(2) {
            @include s.absoluteTop;
            @include s.flexRowWrap;
            padding-left: 5px;
            width: calc(100% - 95px);

            & > .name {
              @include s.flexRowNoWrap;
              margin-bottom: 5px;
              width: 100%;

              & > label:nth-of-type(1) {
                @include s.Roboto-Bold;
                @include s.escaledFontFormat(s.$textSize21to28, bold, s.$pqGreen);
                @include s.multiLineTextTruncateSinHeight(1, normal, rgba(255, 255, 255, 1), rgba(25, 255, 255, 0));
              }
            }

            & > .total-value {
              @include s.flexRow;
              @include s.flexRowNoWrap;
              align-items: center;
              margin-bottom: 8px;
              width: 100%;

              & > .image {
                padding-right: 5px;

                & > img {
                  height: 17px;
                  @include s.responsive_layout('macBookAir') {
                    height: 20px;
                  }
                }
              }

              & > label {
                @include s.Roboto-Bold;
                @include s.escaledFontFormat(s.$textSize17to24, bold, s.$pqBlack2);
                @include s.multiLineTextTruncateSinHeight(1, normal, rgba(255, 255, 255, 1), rgba(25, 255, 255, 0));
                margin-right: 5px;
              }
            }

            & > .invoice {
              @include s.absoluteCenter;
              @include s.flexRowNoWrap;
              justify-content: flex-start;
              margin-bottom: 8px;
              width: 100%;

              & > label {
                @include s.Roboto-Bold;
                @include s.escaledFontFormat(s.$textSize15to20, normal, s.$pqBlack2);
                margin-right: 8px;
              }
            }

            & > .paymentDate {
              @include s.absoluteCenter;
              @include s.flexRowNoWrap;
              justify-content: flex-start;
              margin-bottom: 8px;
              width: 100%;

              & > label {
                @include s.Roboto-Regular;
                @include s.escaledFontFormat(s.$textSize15to20, normal, s.$pqTextGris);
                margin-right: 8px;
              }
            }
          }

          & > .arrow {
            @include s.right-arrow-in-item-list;
          }
        }
      }

      & > .footer {
        @include s.flexRow;
        border-top: 1px solid s.$pqBlack2;
        justify-content: space-between;

        & > label {
          @include s.Roboto-Regular;
          @include s.escaledFontFormat(s.$textSize12to14, regular, s.$pqBlack2);
          @include s.flexRow;
        }
      }
    }

    & > .right-container {
      & > app-doughnut-chart {
        grid-column-end: span 2;
        overflow: hidden;
      }

      & > app-bar-chart {
        overflow: hidden;
      }

      & > .loading {
        grid-area: 2/1/2/3;
      }
    }
  }

  @include s.responsive_layout('macBookAir') {
    #attend-review-payment-list {
      & > .left-container {
        & > .list-container {
          //& > .tabls {
          //  margin-bottom: 20px;
          //}
          //& > .filters {
          //  padding-bottom: 20px;
          //}
          & > .list-container {
            & > virtual-scroller {
              .provider {
                padding: 20px 0 20px 20px;

                & > .index {
                  width: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}
